# $NetBSD: pkg-index.tmpl,v 1.1 2007/03/14 11:50:34 markd Exp $
#
# Rebuild R package indexes
#

case ${STAGE} in
POST-INSTALL)
	R CMD ${PERL5} @PREFIX@/lib/R/share/perl/build-help.pl --htmllists 2>/dev/null
	${CAT} @PREFIX@/lib/R/library/*/CONTENTS > @PREFIX@/lib/R/doc/html/search/index.txt 2>/dev/null
	;;
DEINSTALL)
	if [ "${PKGBASE}" = "R" ] ; then
		${RM} -f @PREFIX@/lib/R/doc/html/packages.html
		${RM} -f @PREFIX@/lib/R/doc/html/search/index.txt
	fi
	;;
POST-DEINSTALL)
	if [ "${PKGBASE}" != "R" ] ; then
		R CMD ${PERL5} @PREFIX@/lib/R/share/perl/build-help.pl --htmllists 2>/dev/null
		${CAT} @PREFIX@/lib/R/library/*/CONTENTS > @PREFIX@/lib/R/doc/html/search/index.txt 2>/dev/null
	fi
	;;
*)
	;;
esac
