# $NetBSD: pkg-index.tmpl,v 1.2 2008/03/07 16:11:39 jlam Exp $
#
# Rebuild R package indices upon installation or deinstallation of an
# R extension.
#

rebuild_R_pkg_indices()
{
	${ECHO} "${PKGNAME}: rebuilding R package indices and help files"
	R CMD ${PERL5} ${PKG_PREFIX}/lib/R/share/perl/build-help.pl \
		--htmllists 2>/dev/null
	${CAT} ${PKG_PREFIX}/lib/R/library/*/CONTENTS \
		> ${PKG_PREFIX}/lib/R/doc/html/search/index.txt 2>/dev/null
}

case ${STAGE} in
POST-INSTALL)
	rebuild_R_pkg_indices
	;;
DEINSTALL)
	if [ "${PKGBASE}" = "R" ] ; then
		${RM} -f ${PKG_PREFIX}/lib/R/doc/html/packages.html
		${RM} -f ${PKG_PREFIX}/lib/R/doc/html/search/index.txt
	fi
	;;
POST-DEINSTALL)
	[ "${PKGBASE}" = "R" ] || rebuild_R_pkg_indices
	;;
esac
