$NetBSD: patch-jdk_test_jprt.config,v 1.1 2014/07/25 20:35:14 ryoon Exp $

--- jdk/test/jprt.config.orig	2014-06-14 20:38:33.000000000 +0000
+++ jdk/test/jprt.config
@@ -109,7 +109,7 @@ case "${osname}" in
     umask 002
     ;;
 
-  FreeBSD | OpenBSD )
+  DragonFly | FreeBSD | OpenBSD )
     # Add basic paths
     path4sdk=/usr/bin:/bin:/usr/sbin:/sbin
 
