$NetBSD: patch-chrome_browser_resources_signin_signin__shared.css,v 1.22 2026/07/06 13:06:45 kikadf Exp $

* Part of patchset to build chromium on NetBSD
* Based on OpenBSD's chromium patches, and
  pkgsrc's qt5-qtwebengine patches

--- chrome/browser/resources/signin/signin_shared.css.orig	2026-06-23 23:37:18.000000000 +0000
+++ chrome/browser/resources/signin/signin_shared.css
@@ -39,7 +39,7 @@ a {
   justify-content: flex-end;
 </if>
   padding: var(--action-container-padding);
-<if expr="is_macosx or is_linux or is_chromeos">
+<if expr="is_macosx or is_posix or is_chromeos">
   flex-flow: row-reverse;
   justify-content: flex-start;
 </if>
