# $NetBSD: crontab,v 1.1.1.1 2002/11/28 19:57:29 jmmv Exp $
#
# sysbuild - crontab file for '@SYSBUILD_USER@' user
#

HOME=@SYSBUILD_HOMEDIR@
SHELL=@SH@
PATH=/bin:/sbin:/usr/bin:/usr/sbin:@PREFIX@/bin:@PREFIX@/sbin

#minute hour    mday    month   wday    command

# Update sources daily
#0	0	*	*	*	@PREFIX@/bin/sysbuild -m update-srcs

# Build kernel weekly
#0	4	*	*	0	@PREFIX@/bin/sysbuild -m build-kernels

# Build release weekly
#0	6	*	*	0	@PREFIX@/bin/sysbuild -m build-release
