$NetBSD: patch-optional-requirements.txt,v 1.1 2023/07/06 08:38:41 wiz Exp $

Relax requirements.

--- optional-requirements.txt.orig	2022-04-17 10:30:38.000000000 +0000
+++ optional-requirements.txt
@@ -8,7 +8,7 @@ aiodns
 brotli
 
 #/qr_login
-pillow>=4,<10
+pillow>=4
 qrcode>=6,<8
 
 #/hq_thumbnails
