# $NetBSD: imp.conf.dist,v 1.1.1.1 2001/02/12 15:27:41 jlam Exp $
#
# IMP configuration file fragment for Apache

# For security, don't serve pages from the IMP configuration and library
# directories.
#
<Directory "@IMPDIR@/config">
    Order deny,allow
    Deny from all
</Directory>
<Directory "@IMPDIR@/lib">
    Order deny,allow
    Deny from all
</Directory>
<Directory "@IMPDIR@/locale">
    Order deny,allow
    Deny from all
</Directory>
<Directory "@IMPDIR@/scripts">
    Order deny,allow
    Deny from all
</Directory>
<Directory "@IMPDIR@/templates">
    Order deny,allow
    Deny from all
</Directory>
