$NetBSD: patch-requirements.txt,v 1.1 2023/01/13 13:48:45 adam Exp $

Support newer resolvelib.
https://github.com/ansible/ansible/pull/79576

--- requirements.txt.orig	2023-01-13 13:14:07.000000000 +0000
+++ requirements.txt
@@ -12,4 +12,4 @@ packaging
 # NOTE: Ref: https://github.com/sarugaku/resolvelib/issues/69
 # NOTE: When updating the upper bound, also update the latest version used
 # NOTE: in the ansible-galaxy-collection test suite.
-resolvelib >= 0.5.3, < 0.9.0  # dependency resolver used by ansible-galaxy
+resolvelib >= 0.5.3, < 0.10.0  # dependency resolver used by ansible-galaxy
