#: $NetBSD: mhn.defaults.dist,v 1.1 2000/03/02 05:11:44 kim Exp $
#:
mhstore-store-application/PostScript: %m%P.ps
mhstore-store-text: %m%P.txt
mhstore-store-text/richtext: %m%P.rt
mhstore-store-video/mpeg: %m%P.mpg
#:
#: If you install more packages you could enable these
#:
#: mhshow-show-application/PostScript: %plpr -Pps
#: mhshow-show-application/x-ivs: %pivs_replay -o '%F'
#: mhshow-show-image: %pxv '%f'
#: mhshow-show-text/richtext: %prichtext -p '%F'
#: mhshow-show-video/mpeg: %pmpeg_play '%f'" >> $TMP
