$NetBSD: patch-rebar.config,v 1.1 2021/01/16 19:47:57 triaxx Exp $

Use pkgsrc dependencies.

--- rebar.config.orig	2020-12-08 13:55:42.000000000 +0000
+++ rebar.config
@@ -21,11 +21,6 @@
 	    {i, "include"},
 	    {platform_define, "^(R|1|20)", deprecated_stacktrace}]}.
 
-{deps, [{jiffy, ".*", {git, "https://github.com/davisp/jiffy.git", {tag, "1.0.5"}}},
-	{yconf, ".*", {git, "https://github.com/processone/yconf.git", {tag, "1.0.9"}}},
-	{idna, ".*", {git, "https://github.com/benoitc/erlang-idna", {tag, "6.0.0"}}},
-	{jose, ".*", {git, "https://github.com/potatosalad/erlang-jose", {tag, "1.9.0"}}}]}.
-
 {cover_enabled, true}.
 {cover_export_enabled, true}.
 
