#     $NetBSD: Darwin.x11.dist,v 1.2 2001/12/25 15:01:41 wiz Exp $
#     FreeBSD Id: BSD.x11.dist,v 1.2 1997/06/10 07:55:10 asami Exp
#

/set type=dir uname=root gname=wheel mode=0755
.
    bin
    ..
    etc
        rc.d
        ..
    ..
    include
        X11
            ICE
            ..
            PEX5
            ..
            PM
            ..
            SM
            ..
            Xaw
            ..
            Xmu
            ..
            bitmaps
            ..
            extensions
            ..
            fonts
            ..
            pixmaps
            ..
        ..
    ..
    info
    ..
    lib
        X11
            XF86Setup
                pics
                ..
                scripts
                ..
                tcllib
                ..
            ..
            app-defaults
            ..
            config
            ..
            doc
            ..
            etc
            ..
            fonts
                100dpi
                ..
                75dpi
                ..
                PEX
                ..
                Speedo
                ..
                Type1
                ..
                cyrillic
                ..
                local
                ..
                misc
                ..
            ..
            fs
            ..
            lbxproxy
            ..
            locale
                C
                ..
                en_US.utf
                ..
                iso8859-1
                ..
                iso8859-2
                ..
                iso8859-3
                ..
                iso8859-4
                ..
                iso8859-5
                ..
                iso8859-6
                ..
                iso8859-7
                ..
                iso8859-8
                ..
                iso8859-9
                ..
                ja
                ..
                ja.JIS
                ..
                ja.SJIS
                ..
                ko
                ..
                koi8-r
                ..
                tbl_data
                ..
                th_TH.TACTIS
                ..
                zh
                ..
                zh_TW
                ..
            ..
            proxymngr
            ..
            rstart
                commands
                    x11r6
                    ..
                ..
                contexts
                ..
            ..
            twm
            ..
            x11perfcomp
            ..
            xdm
            ..
            xinit
            ..
            xkb
                compat
                ..
                compiled
                ..
                geometry
                    digital
                    ..
                    sgi
                    ..
                ..
                keycodes
                    digital
                    ..
                    sgi
                    ..
                ..
                keymap
                    digital
                    ..
                    sgi
                    ..
                    sun
                    ..
                ..
                rules
                ..
                semantics
                ..
                symbols
                    digital
                    ..
                    fujitsu
                    ..
                    nec
                    ..
                    sony
                    ..
                    sun
                    ..
                ..
            ..
            xserver
            ..
            xsm
            ..
        ..
        modules
        ..
    ..
    libexec
    ..
    man
        cat1
        ..
        cat2
        ..
        cat3
        ..
        cat4
        ..
        cat5
        ..
        cat6
        ..
        cat7
        ..
        cat8
        ..
        cat9
        ..
        catl
        ..
        catn
        ..
        ja_JP.EUC
            cat1
            ..
            cat2
            ..
            cat3
            ..
            cat4
            ..
            cat5
            ..
            cat6
            ..
            cat7
            ..
            cat8
            ..
            cat9
            ..
            catl
            ..
            catn
            ..
            man1
            ..
            man2
            ..
            man3
            ..
            man4
            ..
            man5
            ..
            man6
            ..
            man7
            ..
            man8
            ..
            man9
            ..
            manl
            ..
            mann
            ..
        ..
        man1
        ..
        man2
        ..
        man3
        ..
        man4
        ..
        man5
        ..
        man6
        ..
        man7
        ..
        man8
        ..
        man9
        ..
        manl
        ..
        mann
        ..
    ..
    share
        doc
            html
            ..
        ..
        examples
        ..
	fonts
	..
	locale
            az
                LC_MESSAGES
                ..
            ..
            bg
                LC_MESSAGES
                ..
            ..
            bg_BG.cp1251
                LC_MESSAGES
                ..
            ..
            ca
                LC_MESSAGES
                ..
            ..
            cs
                LC_MESSAGES
                ..
            ..
            cz
                LC_MESSAGES
                ..
            ..
            da
                LC_MESSAGES
                ..
            ..
            de
                LC_MESSAGES
                ..
            ..
            dk
                LC_MESSAGES
                ..
            ..
            el
                LC_MESSAGES
                ..
            ..
            en
                LC_MESSAGES
                ..
            ..
            en_GB
                LC_MESSAGES
                ..
            ..
            en_US
                LC_MESSAGES
                ..
            ..
            eo
                LC_MESSAGES
                ..
            ..
            es
                LC_MESSAGES
                ..
            ..
            et
                LC_MESSAGES
                ..
            ..
            eu
                LC_MESSAGES
                ..
            ..
            fi
                LC_MESSAGES
                ..
            ..
            fr
                LC_MESSAGES
                ..
            ..
            ga
                LC_MESSAGES
                ..
            ..
            gl
                LC_MESSAGES
                ..
            ..
            hr
                LC_MESSAGES
                ..
            ..
            hu
                LC_MESSAGES
                ..
            ..
            id
                LC_MESSAGES
                ..
            ..
            it
                LC_MESSAGES
                ..
            ..
            ja
                LC_MESSAGES
                ..
            ..
            ko
                LC_MESSAGES
                ..
            ..
            lt
                LC_MESSAGES
                ..
            ..
            nl
                LC_MESSAGES
                ..
            ..
            nn
                LC_MESSAGES
                ..
            ..
            no
                LC_MESSAGES
                ..
            ..
            no@nynorsk
                LC_MESSAGES
                ..
            ..
            pl
                LC_MESSAGES
                ..
            ..
            pt
                LC_MESSAGES
                ..
            ..
            pt_BR
                LC_MESSAGES
                ..
            ..
            pt_PT
                LC_MESSAGES
                ..
            ..
            ro
                LC_MESSAGES
                ..
            ..
            ru
                LC_MESSAGES
                ..
            ..
            se
                LC_MESSAGES
                ..
            ..
            sk
                LC_MESSAGES
                ..
            ..
            sl
                LC_MESSAGES
                ..
            ..
            sp
                LC_MESSAGES
                ..
            ..
            sr
                LC_MESSAGES
                ..
            ..
            sv
                LC_MESSAGES
                ..
            ..
            ta
                LC_MESSAGES
                ..
            ..
            tr
                LC_MESSAGES
                ..
            ..
            uk
                LC_MESSAGES
                ..
            ..
            wa
                LC_MESSAGES
                ..
            ..
            zh
                LC_MESSAGES
                ..
            ..
            zh_CN
                LC_MESSAGES
                ..
            ..
            zh_CN.GB2312
                LC_MESSAGES
                ..
            ..
            zh_TW.Big5
                LC_MESSAGES
                ..
            ..
        ..
	pixmaps
	..
    ..
..
