# $NetBSD: mk.conf.example,v 1.1 1998/03/27 17:31:21 agc Exp $
#
# Sample /etc/mk.conf file, which can be used to set
# specific values for building either NetBSD or some
# of the NetBSD packages collection
#
# Definitely not complete yet. - agc Fri Mar 27 16:42:38 GMT 1998

# Firstly, definitions for NetBSD and package collection
MANZ=		1		# gzip manual pages at installation time
				# Possible: defined, not defined
				# Default: not defined

#OBJMACHINE=	1		# use machine-specific object directories,
				# e.g. obj.i386, obj.sparc
				# Possible: defined, not defined
				# Default: not defined

#UVM=		1		# Use the new UVM virtual memory subsystem
				# Possible: defined, not defined
				# Default: not defined

# Definitions used in the packages collection
#DOMAIN_NAME=			# Used in the knews package to set the domain name
				# Possible: almost anything really, usually a FQDN.
				# Default: none

#DONT_USE_IDEA=			# Used in ssh package to stop IDEA encryption
				# Possible: defined, not defined
				# Default: not defined

#EXTRA_DICT=			# Used by ispell package to specify an extra
				# national dictionary.
				# Possible: [agc - unknown]
				# Default: not defined

#GIMP_SMALL_DATA=		# Used in gimp package to specify installation
				# of the small data set only.
				# Possible: defined, not defined
				# Default: not defined

HAVE_MOTIF=	YES		# this must be set so that packages which
				# use Motif can be used. If you use Lesstif,
				# this must still be set.
				# Possible: defined, not defined.
				# Default: not defined

#HTTP_ROOT=			# Used by the apache package to specify the root
				# directory for its files
				# Possible: any valid directory
				# Default: [agc - don't know yet]

#ISPELL_FR=			# Used by ispell to specify a French/English
				# dictionary.
				# Possible: defined, not defined
				# Default: not defined

#LANG=				# Used by ispell to specify national dictionary
				# Possible: not defined, british
				# Default: not defined
				# [agc - this must conflict with the locale?]

#LIBWRAP_FWD=			# Make libwrap also compare against forwards
				# Possible: not defined, YES
				# Default: not defined

#MAKE_EBONES=			# Used in fetchmail and zephyr to specify use
				# of non-USA Kerberos-compatible subsystem.
				# Possible: defined, not defined
				# Default: not defined

#MAKE_KERBEROS4=		# Used in the fetchmail package to specify use of
				# Kerberos subsystem.
				# Possible: defined, not defined
				# Default: not defined

NMH_MTA=	smtp		# default MTA for use in nmh.
				# Possible: smtp or sendmail.
				# Default: smtp

#NOPORTDOCS=			# If defined, used to stop installation of
				# any documentation.
				# Possible: defined, not defined
				# Default: not defined.

#NOMANINSTALL=			# Used in expact package to stop installation
				# of manual pages.
				# Possible: defined, not defined
				# Default: not defined

PAPERSIZE=	A4		# Default paper size for packages.
				# Possible: A4, Letter, Letterdj.
				# Default: none

#PATCH_DEBUG=			# Used in exmh package to denote debugging
				# Possible: defined, not defined
				# Default: not defined

#RCS_LOCALID=			# Used in cvs-current package for an RCS Id
				# which is expanded.
				# Possible: anything (within reason)
				# Default: none

#SSH_CONF_DIR=			# Used in ssh to set the configuration directory
				# Possible: any valid directory on root filesystem
				# Default: none, package defaults to /etc

#USE_MENUS=			# Used in xvile package to build in support for
				# menus.
				# Possible: defined, not defined
				# Default: undefined

#USE_MULE=			# Used in emacs package to build MULE extensions
				# Possible: defined, not defined
				# Default: not defined

#USE_RSAREF2=	NO		# Use the RSA reference package
				# Possible: YES (US domestic only), or NO.
				# Default: not defined.

#USE_SOCKS=			# Used in ssh to specify SOCKS firewall support
				# Possible: not defined, YES
				# Default: not defined

#VERS_ID=			# Used by the apache package to specify its version
				# Possible: almost anything
				# Default: not defined

