#     Id: BSD.local.dist,v 1.30 1997/08/01 13:16:39 phk Exp 
#	$NetBSD: NetBSD.pkg.dist,v 1.86 2005/04/28 19:15:38 wiz Exp $
#

/set type=dir uname=root gname=wheel mode=0755
.
    bin
    ..
    emul
    ..
    etc
        rc.d
	..
    ..
    include
    ..
    info
    ..
    lib
        pkgconfig
        ..
    ..
    libdata
	    tcl
	    ..
    ..
    libexec
        cgi-bin
        ..
    ..
    man
        bg 
            cat1            
            ..
            cat2            
            ..
            cat3            
            ..
            cat4            
            ..
            cat5            
            ..
            cat6            
            ..
            cat7            
            ..
            cat8            
            ..
            cat9            
            ..
            catl            
            ..
            catn            
            ..
            man1
            ..
            man2
            ..
            man3
            ..
            man4
            ..
            man5
            ..
            man6
            ..
            man7
            ..
            man8
            ..
            man9
            ..
            manl
            ..
            mann
            ..
        ..
        cat1           
        ..
        cat2            
        ..
        cat3            
        ..
        cat4            
        ..
        cat5            
        ..
        cat6            
        ..
        cat7            
        ..
        cat8            
        ..
        cat9            
        ..
        catl            
        ..
        catn            
        ..
        cs 
            cat1            
            ..
            cat2            
            ..
            cat3            
            ..
            cat4            
            ..
            cat5            
            ..
            cat6            
            ..
            cat7            
            ..
            cat8            
            ..
            cat9            
            ..
            catl            
            ..
            catn            
            ..
            man1
            ..
            man2
            ..
            man3
            ..
            man4
            ..
            man5
            ..
            man6
            ..
            man7
            ..
            man8
            ..
            man9
            ..
            manl
            ..
            mann
            ..
        ..
        de 
            cat1            
            ..
            cat2            
            ..
            cat3            
            ..
            cat4            
            ..
            cat5            
            ..
            cat6            
            ..
            cat7            
            ..
            cat8            
            ..
            cat9            
            ..
            catl            
            ..
            catn            
            ..
            man1
            ..
            man2
            ..
            man3
            ..
            man4
            ..
            man5
            ..
            man6
            ..
            man7
            ..
            man8
            ..
            man9
            ..
            manl
            ..
            mann
            ..
        ..
        es 
            cat1            
            ..
            cat2            
            ..
            cat3            
            ..
            cat4            
            ..
            cat5            
            ..
            cat6            
            ..
            cat7            
            ..
            cat8            
            ..
            cat9            
            ..
            catl            
            ..
            catn            
            ..
            man1
            ..
            man2
            ..
            man3
            ..
            man4
            ..
            man5
            ..
            man6
            ..
            man7
            ..
            man8
            ..
            man9
            ..
            manl
            ..
            mann
            ..
        ..
        fi 
            cat1            
            ..
            cat2            
            ..
            cat3            
            ..
            cat4            
            ..
            cat5            
            ..
            cat6            
            ..
            cat7            
            ..
            cat8            
            ..
            cat9            
            ..
            catl            
            ..
            catn            
            ..
            man1
            ..
            man2
            ..
            man3
            ..
            man4
            ..
            man5
            ..
            man6
            ..
            man7
            ..
            man8
            ..
            man9
            ..
            manl
            ..
            mann
            ..
	..
        fr 
            cat1            
            ..
            cat2            
            ..
            cat3            
            ..
            cat4            
            ..
            cat5            
            ..
            cat6            
            ..
            cat7            
            ..
            cat8            
            ..
            cat9            
            ..
            catl            
            ..
            catn            
            ..
            man1
            ..
            man2
            ..
            man3
            ..
            man4
            ..
            man5
            ..
            man6
            ..
            man7
            ..
            man8
            ..
            man9
            ..
            manl
            ..
            mann
            ..
        ..
        ja_JP.EUC
            cat1            
            ..
            cat2            
            ..
            cat3            
            ..
            cat4            
            ..
            cat5            
            ..
            cat6            
            ..
            cat7            
            ..
            cat8            
            ..
            cat9            
            ..
            catl            
            ..
            catn            
            ..
            man1
            ..
            man2
            ..
            man3
            ..
            man4
            ..
            man5
            ..
            man6
            ..
            man7
            ..
            man8
            ..
            man9
            ..
            manl
            ..
            mann
            ..
        ..
        pl 
            cat1            
            ..
            cat2            
            ..
            cat3            
            ..
            cat4            
            ..
            cat5            
            ..
            cat6            
            ..
            cat7            
            ..
            cat8            
            ..
            cat9            
            ..
            catl            
            ..
            catn            
            ..
            man1
            ..
            man2
            ..
            man3
            ..
            man4
            ..
            man5
            ..
            man6
            ..
            man7
            ..
            man8
            ..
            man9
            ..
            manl
            ..
            mann
            ..
        ..
        man1
        ..
        man2
        ..
        man3
        ..
        man4
        ..
        man5
        ..
        man6
        ..
        man7
        ..
        man8
        ..
        man9
        ..
        manl
        ..
        mann
        ..
    ..
    sbin
    ..
    share
	aclocal
	..
        dict
        ..
        doc
	    html
	    ..
        ..
        examples
        ..
	games
        ..
	locale
            af
                LC_MESSAGES
                ..
            ..
            am
                LC_MESSAGES
                ..
            ..
            ang
                LC_MESSAGES
                ..
            ..
            ar
                LC_MESSAGES
                ..
            ..
            as
                LC_MESSAGES
                ..
            ..
            az
                LC_MESSAGES
                ..
            ..
            az_IR
                LC_MESSAGES
                ..
            ..
            be
                LC_MESSAGES
                ..
            ..
            bg
                LC_MESSAGES
                ..
            ..
            bn
                LC_MESSAGES
                ..
            ..
            br
                LC_MESSAGES
                ..
            ..
            bs
                LC_MESSAGES
                ..
            ..
            ca
                LC_MESSAGES
                ..
            ..
            cs
                LC_MESSAGES
                ..
            ..
            cy
                LC_MESSAGES
                ..
            ..
            da
                LC_MESSAGES
                ..
            ..
            de
                LC_MESSAGES
                ..
            ..
            de_AT
                LC_MESSAGES
                ..
            ..
            de_DE
                LC_MESSAGES
                ..
            ..
            dk
                LC_MESSAGES
                ..
            ..
            ee
                LC_MESSAGES
                ..
            ..
            el
                LC_MESSAGES
                ..
            ..
            el_GR
                LC_MESSAGES
                ..
            ..
            en
                LC_MESSAGES
                ..
            ..
            en@boldquot
                LC_MESSAGES
                ..
            ..
            en@quot
                LC_MESSAGES
                ..
            ..
            en_AU
                LC_MESSAGES
                ..
            ..
            en_CA
                LC_MESSAGES
                ..
            ..
            en_GB
                LC_MESSAGES
                ..
            ..
            en_US
                LC_MESSAGES
                ..
            ..
            en@IPA
                LC_MESSAGES
                ..
            ..
            eo
                LC_MESSAGES
                ..
            ..
            es
                LC_MESSAGES
                ..
            ..
            es_AR
                LC_MESSAGES
                ..
            ..
            es_ES
                LC_MESSAGES
                ..
            ..
            es_MX
                LC_MESSAGES
                ..
            ..
            et
                LC_MESSAGES
                ..
            ..
            et_EE
                LC_MESSAGES
                ..
            ..
            eu
                LC_MESSAGES
                ..
            ..
            fa
                LC_MESSAGES
                ..
            ..
            fi
                LC_MESSAGES
                ..
            ..
            fo
                LC_MESSAGES
                ..
            ..
            fr
                LC_MESSAGES
                ..
            ..
            fy
                LC_MESSAGES
                ..
            ..
            ga
                LC_MESSAGES
                ..
            ..
            gd
                LC_MESSAGES
                ..
            ..
            gl
                LC_MESSAGES
                ..
            ..
            gu
                LC_MESSAGES
                ..
            ..
            he
                LC_MESSAGES
                ..
            ..
            hi
                LC_MESSAGES
                ..
            ..
            hr
                LC_MESSAGES
                ..
            ..
            hsb
                LC_MESSAGES
                ..
            ..
            hu
                LC_MESSAGES
                ..
            ..
            ia
                LC_MESSAGES
                ..
            ..
            id
                LC_MESSAGES
                ..
            ..
            is
                LC_MESSAGES
                ..
            ..
            it
                LC_MESSAGES
                ..
            ..
            it_NA
                LC_MESSAGES
                ..
            ..
            ja
                LC_MESSAGES
                ..
            ..
            ka
                LC_MESSAGES
                ..
            ..
            kn
                LC_MESSAGES
                ..
            ..
            ko
                LC_MESSAGES
                ..
            ..
            li
                LC_MESSAGES
                ..
            ..
            lt
                LC_MESSAGES
                ..
            ..
            lv
                LC_MESSAGES
                ..
            ..
            mi
                LC_MESSAGES
                ..
            ..
            mk
                LC_MESSAGES
                ..
            ..
            ml
                LC_MESSAGES
                ..
            ..
            mn
                LC_MESSAGES
                ..
            ..
            mr
                LC_MESSAGES
                ..
            ..
            ms
                LC_MESSAGES
                ..
            ..
            mt
                LC_MESSAGES
                ..
            ..
            my_MM
                LC_MESSAGES
                ..
            ..
            nb
                LC_MESSAGES
                ..
            ..
            nds
                LC_MESSAGES
                ..
            ..
            ne
                LC_MESSAGES
                ..
            ..
            nl
                LC_MESSAGES
                ..
            ..
            nl_NL
                LC_MESSAGES
                ..
            ..
            nn
                LC_MESSAGES
                ..
            ..
            no
                LC_MESSAGES
                ..
            ..
            no@nynorsk
                LC_MESSAGES
                ..
            ..
            no_NO
                LC_MESSAGES
                ..
            ..
            no_NY
                LC_MESSAGES
                ..
            ..
            nso
                LC_MESSAGES
                ..
            ..
            or
                LC_MESSAGES
                ..
            ..
            pa
                LC_MESSAGES
                ..
            ..
            pl
                LC_MESSAGES
                ..
            ..
            pl_PL
                LC_MESSAGES
                ..
            ..
            pt
                LC_MESSAGES
                ..
            ..
            pt_BR
                LC_MESSAGES
                ..
            ..
            pt_PT
                LC_MESSAGES
                ..
            ..
            ro
                LC_MESSAGES
                ..
            ..
            ru
                LC_MESSAGES
                ..
            ..
            rw
                LC_MESSAGES
                ..
            ..
            se
                LC_MESSAGES
                ..
            ..
            sk
                LC_MESSAGES
                ..
            ..
            sl
                LC_MESSAGES
                ..
            ..
            sp
                LC_MESSAGES
                ..
            ..
            sq
                LC_MESSAGES
                ..
            ..
            sq_AL
                LC_MESSAGES
                ..
            ..
            sr
                LC_MESSAGES
                ..
            ..
            sr@Latn
                LC_MESSAGES
                ..
            ..
            sr@ije
                LC_MESSAGES
                ..
            ..
            sv
                LC_MESSAGES
                ..
            ..
            ta
                LC_MESSAGES
                ..
            ..
            tg
                LC_MESSAGES
                ..
            ..
            th
                LC_MESSAGES
                ..
            ..
            tk
                LC_MESSAGES
                ..
            ..
            tl
                LC_MESSAGES
                ..
            ..
            tr
                LC_MESSAGES
                ..
            ..
            uk
                LC_MESSAGES
                ..
            ..
            uz
                LC_MESSAGES
                ..
            ..
            uz@Latn
                LC_MESSAGES
                ..
            ..
            uz@Cyrl
                LC_MESSAGES
                ..
            ..
            ven
                LC_MESSAGES
                ..
            ..
            vi
                LC_MESSAGES
                ..
            ..
            wa
                LC_MESSAGES
                ..
            ..
            xh
                LC_MESSAGES
                ..
            ..
            xx
                LC_MESSAGES
                ..
            ..
            yi
                LC_MESSAGES
                ..
            ..
            yo
                LC_MESSAGES
                ..
            ..
            zh
                LC_MESSAGES
                ..
            ..
            zh_CN
                LC_MESSAGES
                ..
            ..
            zh_CN.GB2312
                LC_MESSAGES
                ..
            ..
            zh_TW
                LC_MESSAGES
                ..
            ..
            zh_TW.Big5
                LC_MESSAGES
                ..
            ..
            zu
                LC_MESSAGES
                ..
            ..
        ..
        misc
        ..
        mk
        ..
        nls
	    C
	    ..
	    da_DK.ISO_8859-1
            ..
	    de_AT.ISO_8859-1
            ..
	    de_CH.ISO_8859-1
            ..
	    de_DE.ISO_8859-1
            ..
	    el_GR.ISO_8859-7
            ..
	    en_AU.ISO_8859-1
            ..
	    en_CA.ISO_8859-1
            ..
	    en_GB.ISO_8859-1
            ..
	    en_US.ISO_8859-1
            ..
	    es_ES.ISO_8859-1
            ..
	    et_EE.ISO_8859-15
	    ..
	    fi_FI.ISO_8859-1
            ..
	    fr_BE.ISO_8859-1
            ..
	    fr_CA.ISO_8859-1
            ..
	    fr_CH.ISO_8859-1
            ..
	    fr_FR.ISO_8859-1
	    ..
	    hr_HR.ISO_8859-2
            ..
	    is_IS.ISO_8859-1
            ..
	    it_CH.ISO_8859-1
            ..
	    it_IT.ISO_8859-1
            ..
            ja_JP.EUC
            ..
	    ko_KR.EUC
            ..
	    lt_LN.ASCII
            ..
	    lt_LN.ISO_8859-1
	    ..
    	    lt_LN.ISO_8859-2
            ..
	    nl_BE.ISO_8859-1
            ..
	    nl_NL.ISO_8859-1
            ..
	    no_NO.ISO_8859-1
            ..
	    pl_PL.ISO_8859-2
	    ..
	    pt_PT.ISO_8859-1
            ..
	    ru_RU.KOI8-R
	    ..
	    ru_SU.CP866
            ..
            ru_SU.KOI8-R
            ..
	    sv_SE.ISO_8859-1
            ..
	    uk_UA.KOI8-U
	    ..
        ..
        skel
        ..
    ..
..
