# $NetBSD: install.tmpl,v 1.2 2003/06/20 10:49:57 jmmv Exp $

SCROLLKEEPER_DATADIR="@SCROLLKEEPER_DATADIR@"
SCROLLKEEPER_REBUILDDB="@SCROLLKEEPER_REBUILDDB@"
SCROLLKEEPER_UPDATEDB="@SCROLLKEEPER_UPDATEDB@"

case ${STAGE} in
POST-INSTALL)
	${SCROLLKEEPER_UPDATEDB} -q -p ${SCROLLKEEPER_DATADIR}/db > /dev/null 2>&1
	;;
DEINSTALL)
	${SCROLLKEEPER_UPDATEDB} -q -p ${SCROLLKEEPER_DATADIR}/db > /dev/null 2>&1
	;;
esac
