# $NetBSD: mailman.conf.dist,v 1.2 2007/01/18 06:33:45 martti Exp $
#
# Mailman configuration file fragment for Apache

<IfModule mod_alias.c>
    ScriptAlias /mailman/ "@EXECDIR@/cgi-bin/"
    Alias /pipermail/ "@MAILMAN_DATADIR@/archives/public/"
    Alias /mailman-icons/ "@EXECDIR@/icons/"
</IfModule>

<Directory "@EXECDIR@/cgi-bin">
    Options Indexes Includes MultiViews SymLinksIfOwnerMatch
    AllowOverride FileInfo AuthConfig Limit
    Order allow,deny
    Allow from all
</Directory>

<Directory "@EXECDIR@/icons">
    Options none
    AllowOverride FileInfo AuthConfig Limit
    Order allow,deny
    Allow from all
</Directory>

<Directory "@MAILMAN_DATADIR@/archives/public/">
    Options SymLinksIfOwnerMatch
    AllowOverride FileInfo AuthConfig Limit
    Order allow,deny
    Allow from all
</Directory>
