# $NetBSD: texmf.tmpl,v 1.5 2006/10/10 12:41:28 dmcmahill Exp $
#
# Rebuild the ls-R database.
#

case ${STAGE} in
POST-INSTALL)
	@MKTEXLSR@ @TEXMFDIRS@
	tex_fontmaps="@TEX_FONTMAPS@"
	for map in $tex_fontmaps ; do
		@UPDMAP_SYS@ --enable Map=${map}
	done
	;;
DEINSTALL)
	tex_fontmaps="@TEX_FONTMAPS@"
	for map in $tex_fontmaps ; do
		@UPDMAP_SYS@ --disable ${map}
	done
	;;
POST-DEINSTALL)
	@MKTEXLSR@ @TEXMFDIRS@
	;;
*)
	;;
esac
