# $NetBSD: texmf.tmpl,v 1.3 2005/11/16 22:27:38 minskim Exp $
#
# Rebuild the ls-R database.
#

case ${STAGE} in
POST-INSTALL)
	@MKTEXLSR@ @TEXMFDIRS@
	for map in @TEXFONTMAPS@; do
		@UPDMAP_SYS@ --enable Map=${map}
	done
	;;
DEINSTALL)
	for map in @TEXFONTMAPS@; do
		@UPDMAP_SYS@ --disable ${map}
	done
	;;
POST-DEINSTALL)
	@MKTEXLSR@ @TEXMFDIRS@
	;;
*)
	;;
esac
