# $NetBSD: icon-cache.tmpl,v 1.2 2007/01/26 01:02:59 markd Exp $
#
# Rebuild the icon cache.
#

GTK_UPDATE_ICON_CACHE="@GTK_UPDATE_ICON_CACHE@"
ICON_THEME_DIR="@ICON_THEME_DIR@"

case ${STAGE} in
POST-INSTALL)
	${TEST} -x ${GTK_UPDATE_ICON_CACHE} && \
	${GTK_UPDATE_ICON_CACHE} -f -t ${ICON_THEME_DIR} >/dev/null 2>&1 || \
		${TRUE}
	;;
DEINSTALL)
	${TEST} "${PKGBASE}" = "hicolor-icon-theme" && \
		${RM} -f ${ICON_THEME_DIR}/icon-theme.cache
	;;
POST-DEINSTALL)
	${TEST} "${PKGBASE}" != "hicolor-icon-theme" && \
		${TEST} -x ${GTK_UPDATE_ICON_CACHE} && \
		${GTK_UPDATE_ICON_CACHE} -f -t ${ICON_THEME_DIR} >/dev/null \
			2>&1 || ${TRUE}
	;;
*)
	;;
esac
