# $NetBSD: install-scrollkeeper.tmpl,v 1.1 2007/11/12 20:41:18 drochner Exp $

SCROLLKEEPER_DATADIR="@SCROLLKEEPER_DATADIR@"
SCROLLKEEPER_REBUILDDB="@SCROLLKEEPER_REBUILDDB@"
SCROLLKEEPER_UPDATEDB="@SCROLLKEEPER_UPDATEDB@"

case ${STAGE} in
POST-INSTALL)
	${SCROLLKEEPER_UPDATEDB} -q -p ${SCROLLKEEPER_DATADIR}/db
	;;
DEINSTALL)
	${SCROLLKEEPER_UPDATEDB} -q -p ${SCROLLKEEPER_DATADIR}/db
	;;
esac
