# $NetBSD: icon-cache.tmpl,v 1.1 2007/01/26 00:55:01 markd Exp $
#
# Rebuild the icon cache.
#

GTK_UPDATE_ICON_CACHE="@GTK_UPDATE_ICON_CACHE@"
ICON_THEME_DIR="@ICON_THEME_DIR@"

case ${STAGE} in
POST-INSTALL)
	${TEST} -d ${ICON_THEME_DIR} && \
	${GTK_UPDATE_ICON_CACHE} -f -t ${ICON_THEME_DIR} >/dev/null 2>&1 || \
		${TRUE}
	;;
DEINSTALL)
	${RM} -f ${ICON_THEME_DIR}/icon-theme.cache
	;;
*)
	;;
esac
