# $NetBSD: icon-cache.tmpl,v 1.2 2017/06/14 16:23:09 prlw1 Exp $
#
# Rebuild the icon cache.
#

GTK_UPDATE_ICON_CACHE="@GTK_UPDATE_ICON_CACHE@"
ICON_THEME_DIR="@ICON_THEME_DIR@"
LS="@LS@"

case ${STAGE} in
POST-INSTALL)
	${TEST} -d ${ICON_THEME_DIR} && \
	${LS} ${ICON_THEME_DIR} | while read theme; do
		${TEST} -f ${ICON_THEME_DIR}/${theme}/index.theme && \
		${GTK_UPDATE_ICON_CACHE} -q -f -t ${ICON_THEME_DIR}/${theme}
	done
	;;
*)
	;;
esac
