# $NetBSD: immodules.tmpl,v 1.2 2004/06/20 20:12:20 jmmv Exp $
#
# Rebuild the GTK2 immodules database.
#

GTK_IMMODULES_DB="@GTK_IMMODULES_DB@"
GTK_QUERY_IMMODULES="@GTK_QUERY_IMMODULES@"

case ${STAGE} in
POST-INSTALL)
	${GTK_QUERY_IMMODULES} > ${GTK_IMMODULES_DB}
	;;
DEINSTALL)
	[ "${PKGBASE}" = "gtk2+" ] && ${RM} -f ${GTK_IMMODULES_DB}
	;;
POST-DEINSTALL)
	[ "${PKGBASE}" != "gtk2+" ] && \
		${GTK_QUERY_IMMODULES} > ${GTK_IMMODULES_DB}
	;;
*)
	;;
esac
