# $NetBSD: loaders.tmpl,v 1.2 2004/06/20 20:12:20 jmmv Exp $
#
# Rebuild the GTK2 gdk-pixbuf database.
#

GDK_PIXBUF_LOADERS_DB="@GDK_PIXBUF_LOADERS_DB@"
GDK_PIXBUF_QUERY_LOADERS="@GDK_PIXBUF_QUERY_LOADERS@"

case ${STAGE} in
POST-INSTALL)
	${GDK_PIXBUF_QUERY_LOADERS} > ${GDK_PIXBUF_LOADERS_DB}
	;;
DEINSTALL)
	[ "${PKGBASE}" = "gtk2+" ] && ${RM} -f ${GDK_PIXBUF_LOADERS_DB}
	;;
POST-DEINSTALL)
	[ "${PKGBASE}" != "gtk2+" ] && \
		${GDK_PIXBUF_QUERY_LOADERS} > ${GDK_PIXBUF_LOADERS_DB}
	;;
*)
	;;
esac
