$NetBSD: patch-data_filezilla.desktop,v 1.1 2017/03/03 12:53:58 wiz Exp $

Remove BOM from desktop file.
Fixes:
Could not parse file "/usr/pkg/share/applications/filezilla.desktop": Key file contains line '?[Desktop Entry]' which is not a key-value pair, group, or comment

--- data/filezilla.desktop.orig	2017-02-18 10:46:43.000000000 +0000
+++ data/filezilla.desktop
@@ -1,4 +1,4 @@
-﻿[Desktop Entry]
+[Desktop Entry]
 Name=FileZilla
 GenericName=FTP client
 GenericName[da]=FTP-klient
