# $NetBSD: squirrelmail.conf.dist,v 1.1.1.1 2004/06/06 14:32:11 taca Exp $
#
# SquirrelMail configuration file fragment for Apache

<IfModule mod_alias.c>
    Alias /squirrelmail/ "@SMDIR@/"
</IfModule>

<Directory "@SMDIR@">
    Options Indexes MultiViews
    AllowOverride None
    Order allow,deny
    Allow from all
</Directory>
