$NetBSD: patch-configs_rock64-rk3328_defconfig,v 1.1 2021/04/18 08:54:55 mrg Exp $

Put u-boot at 256KB.

--- configs/rock64-rk3328_defconfig.orig	2019-12-16 04:39:56.000000000 -0800
+++ configs/rock64-rk3328_defconfig	2020-01-09 12:47:03.348721688 -0800
@@ -1,6 +1,7 @@
 CONFIG_ARM=y
 CONFIG_ARCH_ROCKCHIP=y
 CONFIG_SYS_TEXT_BASE=0x00200000
+CONFIG_SYS_MMCSD_RAW_MODE_U_BOOT_SECTOR=0x200
 CONFIG_ROCKCHIP_RK3328=y
 CONFIG_TPL_ROCKCHIP_COMMON_BOARD=y
 CONFIG_TPL_LIBCOMMON_SUPPORT=y
