$NetBSD: patch-examples_chrony.keys.example,v 1.1 2015/04/13 10:03:21 hannken Exp $

Prepare for SUBST, not processed by configure.

--- examples/chrony.keys.example.orig	2015-04-07 14:35:16.000000000 +0000
+++ examples/chrony.keys.example
@@ -1,6 +1,6 @@
 #######################################################################
 #
-# This is an example chrony keys file.  You should copy it to /etc/chrony.keys
+# This is an example chrony keys file.  You should copy it to @PKG_SYSCONFDIR@/chrony.keys
 # after editing it to set up the key(s) you want to use.  It should be readable
 # only by root or the user chronyd drops the root privileges to.  In most
 # situations, you will require a single key (the 'commandkey') so that you can
