@comment $NetBSD: PLIST.master,v 1.1.1.1 2012/02/19 16:24:17 taca Exp $
${CT_WEBDIR}/system/modules/backend/languages/@lang@/.htaccess
${CT_WEBDIR}/system/modules/backend/languages/@lang@/countries.php
${CT_WEBDIR}/system/modules/backend/languages/@lang@/default.php
${CT_WEBDIR}/system/modules/backend/languages/@lang@/explain.php
${CT_WEBDIR}/system/modules/backend/languages/@lang@/languages.php
${CT_WEBDIR}/system/modules/backend/languages/@lang@/modules.php
${CT_WEBDIR}/system/modules/backend/languages/@lang@/tl_article.php
${CT_WEBDIR}/system/modules/backend/languages/@lang@/tl_content.php
${CT_WEBDIR}/system/modules/backend/languages/@lang@/tl_files.php
${CT_WEBDIR}/system/modules/backend/languages/@lang@/tl_form.php
${CT_WEBDIR}/system/modules/backend/languages/@lang@/tl_form_field.php
${CT_WEBDIR}/system/modules/backend/languages/@lang@/tl_install.php
${CT_WEBDIR}/system/modules/backend/languages/@lang@/tl_layout.php
${CT_WEBDIR}/system/modules/backend/languages/@lang@/tl_log.php
${CT_WEBDIR}/system/modules/backend/languages/@lang@/tl_maintenance.php
${CT_WEBDIR}/system/modules/backend/languages/@lang@/tl_member.php
${CT_WEBDIR}/system/modules/backend/languages/@lang@/tl_member_group.php
${CT_WEBDIR}/system/modules/backend/languages/@lang@/tl_module.php
${CT_WEBDIR}/system/modules/backend/languages/@lang@/tl_page.php
${CT_WEBDIR}/system/modules/backend/languages/@lang@/tl_settings.php
${CT_WEBDIR}/system/modules/backend/languages/@lang@/tl_style.php
${CT_WEBDIR}/system/modules/backend/languages/@lang@/tl_style_sheet.php
${CT_WEBDIR}/system/modules/backend/languages/@lang@/tl_theme.php
${CT_WEBDIR}/system/modules/backend/languages/@lang@/tl_undo.php
${CT_WEBDIR}/system/modules/backend/languages/@lang@/tl_user.php
${CT_WEBDIR}/system/modules/backend/languages/@lang@/tl_user_group.php
${CT_WEBDIR}/system/modules/calendar/languages/@lang@/.htaccess
${CT_WEBDIR}/system/modules/calendar/languages/@lang@/default.php
${CT_WEBDIR}/system/modules/calendar/languages/@lang@/modules.php
${CT_WEBDIR}/system/modules/calendar/languages/@lang@/tl_calendar.php
${CT_WEBDIR}/system/modules/calendar/languages/@lang@/tl_calendar_events.php
${CT_WEBDIR}/system/modules/calendar/languages/@lang@/tl_module.php
${CT_WEBDIR}/system/modules/calendar/languages/@lang@/tl_user.php
${CT_WEBDIR}/system/modules/calendar/languages/@lang@/tl_user_group.php
${CT_WEBDIR}/system/modules/comments/languages/@lang@/.htaccess
${CT_WEBDIR}/system/modules/comments/languages/@lang@/modules.php
${CT_WEBDIR}/system/modules/comments/languages/@lang@/tl_comments.php
${CT_WEBDIR}/system/modules/comments/languages/@lang@/tl_content.php
${CT_WEBDIR}/system/modules/comments/languages/@lang@/tl_module.php
${CT_WEBDIR}/system/modules/faq/languages/@lang@/.htaccess
${CT_WEBDIR}/system/modules/faq/languages/@lang@/default.php
${CT_WEBDIR}/system/modules/faq/languages/@lang@/modules.php
${CT_WEBDIR}/system/modules/faq/languages/@lang@/tl_faq.php
${CT_WEBDIR}/system/modules/faq/languages/@lang@/tl_faq_category.php
${CT_WEBDIR}/system/modules/faq/languages/@lang@/tl_module.php
${CT_WEBDIR}/system/modules/faq/languages/@lang@/tl_user.php
${CT_WEBDIR}/system/modules/faq/languages/@lang@/tl_user_group.php
${CT_WEBDIR}/system/modules/frontend/languages/@lang@/.htaccess
${CT_WEBDIR}/system/modules/frontend/languages/@lang@/default.php
${CT_WEBDIR}/system/modules/frontend/languages/@lang@/modules.php
${CT_WEBDIR}/system/modules/listing/languages/@lang@/.htaccess
${CT_WEBDIR}/system/modules/listing/languages/@lang@/modules.php
${CT_WEBDIR}/system/modules/listing/languages/@lang@/tl_module.php
${CT_WEBDIR}/system/modules/news/languages/@lang@/.htaccess
${CT_WEBDIR}/system/modules/news/languages/@lang@/default.php
${CT_WEBDIR}/system/modules/news/languages/@lang@/modules.php
${CT_WEBDIR}/system/modules/news/languages/@lang@/tl_module.php
${CT_WEBDIR}/system/modules/news/languages/@lang@/tl_news.php
${CT_WEBDIR}/system/modules/news/languages/@lang@/tl_news_archive.php
${CT_WEBDIR}/system/modules/news/languages/@lang@/tl_news_comments.php
${CT_WEBDIR}/system/modules/news/languages/@lang@/tl_user.php
${CT_WEBDIR}/system/modules/news/languages/@lang@/tl_user_group.php
${CT_WEBDIR}/system/modules/newsletter/languages/@lang@/.htaccess
${CT_WEBDIR}/system/modules/newsletter/languages/@lang@/default.php
${CT_WEBDIR}/system/modules/newsletter/languages/@lang@/modules.php
${CT_WEBDIR}/system/modules/newsletter/languages/@lang@/tl_member.php
${CT_WEBDIR}/system/modules/newsletter/languages/@lang@/tl_module.php
${CT_WEBDIR}/system/modules/newsletter/languages/@lang@/tl_newsletter.php
${CT_WEBDIR}/system/modules/newsletter/languages/@lang@/tl_newsletter_channel.php
${CT_WEBDIR}/system/modules/newsletter/languages/@lang@/tl_newsletter_recipients.php
${CT_WEBDIR}/system/modules/newsletter/languages/@lang@/tl_user.php
${CT_WEBDIR}/system/modules/newsletter/languages/@lang@/tl_user_group.php
${CT_WEBDIR}/system/modules/registration/languages/@lang@/.htaccess
${CT_WEBDIR}/system/modules/registration/languages/@lang@/default.php
${CT_WEBDIR}/system/modules/registration/languages/@lang@/modules.php
${CT_WEBDIR}/system/modules/registration/languages/@lang@/tl_module.php
${CT_WEBDIR}/system/modules/rep_base/languages/@lang@/.htaccess
${CT_WEBDIR}/system/modules/rep_base/languages/@lang@/modules.php
${CT_WEBDIR}/system/modules/rep_base/languages/@lang@/tl_repository.php
${CT_WEBDIR}/system/modules/rep_base/languages/@lang@/tl_settings.php
${CT_WEBDIR}/system/modules/rep_client/languages/@lang@/.htaccess
${CT_WEBDIR}/system/modules/rep_client/languages/@lang@/modules.php
${CT_WEBDIR}/system/modules/rep_client/languages/@lang@/tl_repository.php
${CT_WEBDIR}/system/modules/rep_client/languages/@lang@/tl_settings.php
${CT_WEBDIR}/system/modules/rss_reader/languages/@lang@/.htaccess
${CT_WEBDIR}/system/modules/rss_reader/languages/@lang@/modules.php
${CT_WEBDIR}/system/modules/rss_reader/languages/@lang@/tl_module.php
${CT_WEBDIR}/system/modules/tasks/languages/@lang@/.htaccess
${CT_WEBDIR}/system/modules/tasks/languages/@lang@/default.php
${CT_WEBDIR}/system/modules/tasks/languages/@lang@/modules.php
${CT_WEBDIR}/system/modules/tasks/languages/@lang@/tl_task.php
${CT_WEBDIR}/system/modules/tpl_editor/languages/@lang@/.htaccess
${CT_WEBDIR}/system/modules/tpl_editor/languages/@lang@/modules.php
${CT_WEBDIR}/system/modules/tpl_editor/languages/@lang@/tl_templates.php
