[Desktop Entry]
Name=SDLPoP
Comment=Open-source port of Prince of Persia
Exec=prince
Icon=prince
Terminal=false
Type=Application
Categories=Game;ActionGame;
