# etc/lilo.conf: Sample LILO boot loader configuration.

boot=/dev/hda1
root=/dev/hda1
compact
install=/boot/boot.b
map=/boot/map
vga=normal
delay=20
image=/vmlinuz
       root=/dev/hda1
       label=Linux
       read-only
