# $NetBSD: turba.conf.dist,v 1.1.1.1 2005/03/25 13:21:43 adrianp Exp $
#
# Turba configuration file fragment for Apache

# For security, don't serve pages from the Turba configuration and library
# directories.
#
<Directory "@TURBADIR@/config">
    Order deny,allow
    Deny from all
</Directory>
<Directory "@TURBADIR@/lib">
    Order deny,allow
    Deny from all
</Directory>
<Directory "@TURBADIR@/locale">
    Order deny,allow
    Deny from all
</Directory>
<Directory "@TURBADIR@/po">
    Order deny,allow
    Deny from all
</Directory>
<Directory "@TURBADIR@/scripts">
    Order deny,allow
    Deny from all
</Directory>
<Directory "@TURBADIR@/templates">
    Order deny,allow
    Deny from all
</Directory>
