$NetBSD: patch-rebar.config,v 1.3 2016/08/12 09:53:01 fhajny Exp $

Deps are handled by pkgsrc.

--- rebar.config.orig	2016-04-27 14:16:12.000000000 +0000
+++ rebar.config
@@ -22,9 +22,6 @@
 
 {erl_opts, [debug_info, {i, "include"}]}.
 
-{deps, [{fast_tls, ".*", {git, "https://github.com/processone/fast_tls", {tag, "1.0.6"}}},
-	{p1_utils, ".*", {git, "https://github.com/processone/p1_utils", {tag, "1.0.4"}}}]}.
-
 {cover_enabled, true}.
 {cover_export_enabled, true}.
 
