# $NetBSD: format-install.tmpl,v 1.1 2012/10/14 21:30:33 minskim Exp $
#
# Create format files.
#

FMTUTIL_CNF=${PKG_SYSCONFBASE}/texmf/web2c/fmtutil.cnf

case ${STAGE} in
POST-INSTALL)
	formats=@FORMATS@
	if [ "$formats" != "" ]; then
		@PRINTF@ "$formats" >> ${FMTUTIL_CNF}
		@PRINTF@ "$formats" |
		while read format engine junk; do
			@FMTUTIL_SYS@ --byfmt $format
		done
	fi
	@MKTEXLSR@ @VARBASE@/lib/texmf
        ;;
*)
	;;
esac
