$NetBSD: patch-rebar.config,v 1.3 2017/07/07 09:54:41 fhajny Exp $

Look up fast_xml includes properly.

--- rebar.config.orig	2017-06-28 14:45:47.000000000 +0000
+++ rebar.config
@@ -22,7 +22,7 @@
 {erl_opts, [debug_info, {src_dirs, ["src"]},
             {i, "include"},
             {i, "../fast_xml/include"},
-            {i, "deps/fast_xml/include"}]}.
+            {i, "@LOCALBASE@/lib/erlang/lib/fast_xml/include"}]}.
 
 {port_env, [{"CFLAGS", "$CFLAGS"}, {"LDFLAGS", "$LDFLAGS"}]}.
 
