$NetBSD: patch-rebar.config,v 1.4 2017/10/17 14:53:22 fhajny Exp $

Look up fast_xml includes properly.

--- rebar.config.orig	2017-10-16 12:22:25.000000000 +0000
+++ rebar.config
@@ -23,7 +23,7 @@
 	    nowarn_export_all,
             {i, "include"},
             {i, "../fast_xml/include"},
-            {i, "deps/fast_xml/include"}]}.
+            {i, "@LOCALBASE@/lib/erlang/lib/fast_xml/include"}]}.
 
 {port_env, [{"CFLAGS", "$CFLAGS"}, {"LDFLAGS", "$LDFLAGS"}]}.
 
