$NetBSD: patch-distrib_initscripts_netatalk.xml.tmpl,v 1.1 2014/06/11 11:03:57 hauke Exp $

pkgsrc-installed SMF manifests default to /pkgsrc FMRI

--- distrib/initscripts/netatalk.xml.tmpl.orig	2013-04-09 12:56:17.000000000 +0000
+++ distrib/initscripts/netatalk.xml.tmpl
@@ -2,7 +2,7 @@
 <!DOCTYPE service_bundle SYSTEM "/usr/share/lib/xml/dtd/service_bundle.dtd.1">
 <service_bundle type="manifest" name="netatalk">
 
-    <service name="network/netatalk" type="service" version="1">
+    <service name="pkgsrc/netatalk" type="service" version="1">
 
         <create_default_instance enabled="false"/>
         
