$NetBSD: patch-rebar.config,v 1.2 2016/08/12 09:31:03 fhajny Exp $

Deps are handled by pkgsrc.

--- rebar.config.orig	2016-06-10 19:12:45.000000000 +0000
+++ rebar.config
@@ -46,10 +46,6 @@
     nowarn_export_all
 ]}.
 
-{deps, [
-    {goldrush, ".*", {git, "git://github.com/DeadZen/goldrush.git", {tag, "0.1.8"}}}
-]}.
-
 {xref_checks, []}.
 {xref_queries, [{"(XC - UC) || (XU - X - B - lager_default_tracer : Mod - erlang:\"(is_map|map_size)\"/1 - maps:to_list/1)", []}]}.
 
