$NetBSD: patch-rebar.config,v 1.1 2015/11/04 13:45:46 fhajny Exp $

Deps are handled by pkgsrc.

--- rebar.config.orig	2015-07-30 01:28:30.000000000 +0000
+++ rebar.config
@@ -43,9 +43,6 @@
     nowarn_untyped_record,
     nowarn_export_all
 ]}.
-{deps, [
-    {goldrush, ".*", {git, "git://github.com/DeadZen/goldrush.git", {tag, "0.1.7"}}}
-]}.
 
 {xref_checks, []}.
 {xref_queries, [{"(XC - UC) || (XU - X - B - lager_default_tracer : Mod - erlang:\"(is_map|map_size)\"/1 - maps:to_list/1)", []}]}.
