$NetBSD: patch-rebar.config,v 1.3 2017/07/07 09:48:07 fhajny Exp $

Deps are handled by pkgsrc.

--- rebar.config.orig	2017-04-26 16:28:27.000000000 +0000
+++ rebar.config
@@ -47,10 +47,6 @@
     nowarn_export_all
 ]}.
 
-{deps, [
-    {goldrush, "0.1.9"}
-]}.
-
 {xref_checks, []}.
 {xref_queries, [{"(XC - UC) || (XU - X - B - lager_default_tracer : Mod - erlang:\"(is_map|map_size)\"/1 - maps:to_list/1)", []}]}.
 
