# $NetBSD: kronolith.conf.dist,v 1.1.1.1 2006/03/31 22:23:07 adrianp Exp $
#
# Kronolith configuration file fragment for Apache

# For security, don't serve pages from the Kronolith configuration and library
# directories.
#
<Directory "@KRONOLITHDIR@/config">
    Order deny,allow
    Deny from all
</Directory>
<Directory "@KRONOLITHDIR@/lib">
    Order deny,allow
    Deny from all
</Directory>
<Directory "@KRONOLITHDIR@/locale">
    Order deny,allow
    Deny from all
</Directory>
<Directory "@KRONOLITHDIR@/po">
    Order deny,allow
    Deny from all
</Directory>
<Directory "@KRONOLITHDIR@/scripts">
    Order deny,allow
    Deny from all
</Directory>
<Directory "@KRONOLITHDIR@/templates">
    Order deny,allow
    Deny from all
</Directory>
