# $NetBSD: install.tmpl,v 1.2 2003/03/17 17:46:49 jmmv Exp $
#
# Register GConf2 schema files into GConf2's database at install time.
#

GCONFTOOL2="@GCONFTOOL2@"
GCONF2_SCHEMAS="@GCONF2_SCHEMAS@"
GCONF2_SCHEMAS_DIR="@GCONF2_SCHEMAS_DIR@"
GCONF2_CONFIG_SOURCE="@GCONF2_CONFIG_SOURCE@"

case ${STAGE} in
POST-INSTALL)
	${ECHO} "===> Registering GConf2 schemas for ${PKGNAME}"
	for f in ${GCONF2_SCHEMAS}; do
		GCONF_CONFIG_SOURCE="${GCONF2_CONFIG_SOURCE}" \
			${GCONFTOOL2} --makefile-install-rule \
			${GCONF2_SCHEMAS_DIR}/$f >/dev/null
	done
	;;
*)
	;;
esac
