$NetBSD: patch-generate_unix_Makefile.config,v 1.1 2015/04/27 16:08:51 joerg Exp $

--- generate/unix/Makefile.config.orig	2015-04-27 15:58:21.000000000 +0000
+++ generate/unix/Makefile.config
@@ -191,7 +191,6 @@ CWARNINGFLAGS += \
     -Wmissing-field-initializers\
     -Wnested-externs\
     -Wold-style-definition\
-    -Woverride-init\
     -Wno-format-nonliteral\
     -Wredundant-decls
 #
@@ -203,9 +202,6 @@ ifneq ($(HOST), _FreeBSD)
 
     ifneq ($(HOST), _APPLE)
         CWARNINGFLAGS += \
-        -Wlogical-op\
-        -Wmissing-parameter-type\
-        -Wold-style-declaration\
         -Wtype-limits
     endif
 endif
