$NetBSD: patch-generate_unix_Makefile.config,v 1.2 2016/10/29 21:04:13 maya Exp $

Avoid using GCC-specific flags. fixes build with clang

--- generate/unix/Makefile.config.orig	2016-09-30 16:43:55.000000000 +0000
+++ generate/unix/Makefile.config
@@ -206,7 +206,6 @@ CWARNINGFLAGS += \
     -Wmissing-declarations\
     -Wmissing-field-initializers\
     -Wnested-externs\
-    -Wold-style-definition\
     -Wno-format-nonliteral\
     -Wredundant-decls
 #
@@ -218,10 +217,6 @@ ifneq ($(HOST), _FreeBSD)
 
     ifneq ($(HOST), _APPLE)
         CWARNINGFLAGS += \
-            -Woverride-init\
-            -Wlogical-op\
-            -Wmissing-parameter-type\
-            -Wold-style-declaration\
             -Wtype-limits
     endif
 endif
