#	$NetBSD: mrtg.conf.example,v 1.3 2001/11/07 18:26:50 bouyer Exp $

WorkDir: @PREFIX@/share/httpd/htdocs/mrtg
Refresh: 300
Interval: 5
WriteExpires: Yes

Target[network]: `@PREFIX@/libexec/netstat2mrtg de0`
Title[network]: Traffic Analysis for my host
PageTop[network]: <H1>Stats for my host </H1>
MaxBytes[network]: 12500000

Target[phys]: `@PREFIX@/libexec/sys2mrtg phys`
MaxBytes[phys]: 85000000
Title[phys]: physical memory (active and free)
PageTop[phys]: <H1>physical memory (active and free)</H1>
YLegend[phys]: Bytes
ShortLegend[phys]: Bytes
Legend1[phys]: active physical memory in bytes
Legend2[phys]: free physical memory in bytes
Legend3[phys]: Maximal 5 Minute active physical memory
Legend4[phys]: Maximal 5 Minute active free memory
LegendI[phys]: &nbsp;active:
LegendO[phys]: &nbsp;free:
options[phys]: nopercent,gauge

Target[swap]: `@PREFIX@/libexec/sys2mrtg swap`
MaxBytes[swap]: 512000000
Title[swap]: swap usage
PageTop[swap]: <H1>swap usage</H1>
YLegend[swap]: Bytes
ShortLegend[swap]: Bytes
Legend1[swap]: swap usage in bytes
Legend2[swap]:
Legend3[swap]: Maximal 5 Minute swap usage
Legend4[swap]:
LegendI[swap]: &nbsp;swap:
LegendO[swap]:
options[swap]: nopercent,gauge

Target[pages]: `@PREFIX@/libexec/sys2mrtg pages`
MaxBytes[pages]: 10000
Title[pages]: Paging operations
PageTop[pages]: <H1>Paging operations</H1>
YLegend[pages]: Paging operations per seconds
ShortLegend[pages]: Ops/s
Legend1[pages]: pages in  per seconds
Legend2[pages]: pages out per seconds
Legend3[pages]: Maximal 5 Minute pages in per seconds
Legend4[pages]: Maximal 5 Minute pages out per seconds
LegendI[pages]: &nbsp;In:
LegendO[pages]: &nbsp;Out:
options[pages]: nopercent

Target[irq]: `@PREFIX@/libexec/sys2mrtg irq`
MaxBytes[irq]: 50000
Title[irq]: Interrupt requests
PageTop[irq]: <H1>Interrupt requests</H1>
YLegend[irq]: Interrupt requests per seconds
ShortLegend[irq]: Irq/s
Legend1[irq]: Interrupt requests per seconds
Legend2[irq]:
Legend3[irq]: Maximal 5 Minute interrupt requests per seconds
Legend4[irq]:
LegendI[irq]: &nbsp;Irq:
LegendO[irq]:
options[irq]: nopercent

Target[forks]: `@PREFIX@/libexec/sys2mrtg forks`
MaxBytes[forks]: 500000
Title[forks]: Forks
PageTop[forks]: <H1>Forks</H1>
YLegend[forks]: Forks per seconds
ShortLegend[forks]: Forks/s
Legend1[forks]: Forks per seconds
Legend2[forks]:
Legend3[forks]: Maximal 5 Minute forks per seconds
Legend4[forks]:
LegendI[forks]: &nbsp;Forks:
LegendO[forks]:
options[forks]: nopercent

Target[disks]: `@PREFIX@/libexec/sys2mrtg disks`
MaxBytes[disks]: 100
Title[disks]: Disks transfers
PageTop[disks]: <H1>Disks transfers</H1>
YLegend[disks]: Kilobytes per seconds
ShortLegend[disks]: KB/s
Legend1[disks]: Disks transfers in kilobytes per seconds
Legend2[disks]:
Legend3[disks]: Maximal 5 Minute Disks transfers
Legend4[disks]:
LegendI[disks]: &nbsp;Disks:
LegendO[disks]:
options[disks]: nopercent

Target[load]: `@PREFIX@/libexec/sys2mrtg load`
MaxBytes[load]: 10000
Title[load]: Load average
PageTop[load]: <H1>Load average</H1>
YLegend[load]: load * 100
ShortLegend[load]: load * 100
Legend1[load]: load average
Legend2[load]: 
Legend3[load]: Maximal 5 Minute load average
Legend4[load]: 
LegendI[load]: &nbsp;
LegendO[load]: 
options[load]: nopercent,gauge

Target[cputemp]: `@PREFIX@/libexec/envstat2mrtg Temp\ 1`
MaxBytes[cputemp]: 20000
Title[cputemp]: CPU temperature
PageTop[cputemp]: <H1>CPU temperature</H1> 
YLegend[cputemp]: deg. celius (x100)
ShortLegend[cputemp]: deg. celius (x100)
Legend1[cputemp]: CPU temperature (deg. cel. x100)
Legend2[cputemp]:
Legend3[cputemp]: Maximal 5 Minute temperature
Legend4[cputemp]:
LegendI[cputemp]: &nbsp;
LegendO[cputemp]:
options[cputemp]: nopercent,gauge
