# $NetBSD: squirrelmail.conf.dist,v 1.2 2001/03/14 15:33:48 jlam Exp $
#
# SquirrelMail configuration file fragment for Apache

<IfModule mod_alias.c>
    Alias /squirrelmail/ "@SMDIR@/"
</IfModule>

<Directory "@SMDIR@">
    Options Indexes MultiViews
    AllowOverride None
    Order allow,deny
    Allow from all
</Directory>
