$NetBSD: patch-XDiary.tmpl,v 1.1 2023/01/22 20:08:17 vins Exp $

Honor pkgsrc's default compiler.

--- XDiary.tmpl.orig	1997-05-07 19:51:46.000000000 +0000
+++ XDiary.tmpl
@@ -111,7 +111,7 @@ XDMANDIR  = /usr/local/man/man1  
 -----------------------------------------------------------------------------*/
 
 #undef  CcCmd
-#define CcCmd gcc
+#define CcCmd @CC@
 EXTRA_DEFINES =
 
 
