#Api2

# Override gtk theme
#Theme = "Adwaita-dark"

# Override gtk icon theme
#IconTheme = "Adwaita"

# Set default icon search path
Set ImagePath = "icons/misc"

# Set a hint for bar thickness (CSS should use this is calculate sizes).
Set ThicknessHint = "24px"

Set Term = "alacritty"

# Display minimized windows on taskbars across all outputs
# DisownMinimized = true

TriggerAction "SIGRTMIN+1", SwitcherEvent("forward");
TriggerAction "SIGRTMIN+2", SwitcherEvent("back");

# Window Placer
placer {
  xorigin = 5  # place the first window at X% from the left
  yorigin = 5  # place the first window at X% from the top
  xstep = 5    # step by X% of desktop horizontally
  ystep = 5    # step by X% of desktop vertically
  children = true
}

# Task Switcher
switcher {
  interval = 700
  icons = true
  labels = false
  cols = 5
}

function("SfwbarInit") {
#  Config "PopUp 'XVolumeWindow' { AutoClose = true }"
}

include("winops.widget")

# Panel layout

layout {

  mirror = "*"
  layer = "top"
  bar_id = "bar-0"
#  sensor = 300
#  monitor = "eDP-1"

  include("startmenu.widget")
  include("showdesktop.widget")

  button {
    style = "launcher"
    value = $Term;
    action = Exec($Term);
  }

#  button {
#    style = "launcher"
#    value = GetTerm();
#    action = ExecTerm();
#  }

#  button {
#    style = "launcher"
#    value = "firefox"
#    action = Exec("firefox");
#  }

# Uncomment the below section if you would like a pager
#  pager {
#    style = "pager"
#    pins = "1","2","3","4"
#    rows = 1
#    preview = true
#    primary_axis = rows
#    action[Drag] = WorkspaceActivate()
#  }

  taskbar {
    rows = 1
    css = "* { -GtkWidget-hexpand: true; -FlowGrid-column-homogeneous: true; }" # stretch horizontally
    labels = false;
    tooltips = true;
    icons = true;
    group = pager;  # remove this line if you don't want a multi-desktop taskbar
    group.icons = true;
    group.labels = false;
    sort = true;
    filter = workspace;

    action[RightClick] = Menu("winops");
    action[MiddleClick] = Close();
    action[Drag] = Focus();
  }

  widget "ncenter.widget" {
  # notification center is disabled by default to avoid conflict with other
  # desktop notification handlers.
    disable = false;
  }

  widget "idleinhibit.widget" {
    icon_active = "icons/misc/lock-symbolic";
    icon_inactive = "icons/misc/unlock-symbolic";
  }

  include("cpu.widget")
  include("memory.widget")

  tray {
    rows = 1
    css = "grid { -GtkWidget-column-homogeneous: false; }"
  }

  widget "language.widget"

  widget "clock.widget" {
    disable = false;
    time_format = "%H:%M"
    tooltip_format = "%H:%M\n%x"
    week_starts_on_sunday = false
    reset_on_popup = false
  }
}

#CSS
@define-color theme_text_color white;
@define-color theme_bg_color black;
@define-color theme_fg_color white;
@define-color borders rgba(256,256,256,0.3);

#hidden {
  -GtkWidget-visible: false;
}

window#sfwbar {
  -GtkWidget-direction: top;
#  background-color: rgba(0,0,0,0.6);
  background-color: transparent;
}

grid {
  padding: 0px;
  margin: 1px;
}

label {
  font-family: Sans;
  font-size: calc(@bar_thickness * 0.7);
  color: @theme_text_color;
  text-shadow: none;
}

* {
  -GtkWidget-vexpand: true;
}

tooltip {
  background-color: @theme_bg_color;
}

image {
  min-width: 20px;
  min-height: 20px;
  box-shadow: none;
  border: none;
  border-image: none;
  background-image: none;
  background: none;
  color: @theme_fg_color;
  -gtk-icon-shadow: none;
}

button {
  box-shadow: none;
  border-image: none;
  background-image: none;
  background: none;
  outline-style: none;
}

menu {
  background-color: black;
  border: 1px solid @borders;
  padding: 3px;
}

menu arrow {
  background-color: rgba(0,0,0,0);
  color: @theme_text_color;
}

menuitem {
  color: @theme_text_color;
  padding: 2px;
}

menu image {
  padding-right: 5px;
}

progressbar trough {
  background-color: rgba(256, 256, 256, 0.5);
  border-color: rgba(256,256,256,0.5);
}

/* taskbar CSS properties */

grid#pager {
  outline-style: dashed;
  outline-color: #000000;
  outline-width: 0.25mm;
}

grid#taskbar_pager {
  padding-right: 3px;
  padding-left: 3px;
  border-radius: 0px;
  border: solid rgba(119,119,119,0.3) 0px;
}

button#taskbar_item image {
  min-width: 20px;
  min-height: 20px;
}

button#taskbar_item label {
  padding: 0px 0px 0px 5px;
  -GtkWidget-hexpand: false;
}

button#taskbar_item {
  padding: 0px 5px 0px 5px;
  border-radius: 4px;
  background-color: rgba(119,119,119,0.2);
  border-color: rgba(119,119,119,0.3);
  -GtkWidget-hexpand: false;
}

button#taskbar_item.focused {
  background-color: rgba(255,255,255,0.2);
  border-color: rgba(255,255,255,0.4);
}

button#taskbar_item:hover {
  background-color: rgba(176,176,176,0.22);
  border-color: rgba(234,234,234,0.44);
}

grid#taskbar_pager button,
button#pager {
  padding: 0px 5px 0px 5px;
  border-radius: 4px;
  border-color: rgba(119,119,119,0);
}

button#pager_preview {
  border-radius: 0;
  border-color: #000000;
  border-width: 0.25mm;
  color: #777777;
  min-width: 5cm;
  min-height: 2.8125cm;
}

/* switcher CSS properties */

window#switcher { 
  background-color: rgba(0,0,0,0);
  padding: 6px; 
  -GtkWidget-hexpand: true;
}

grid#switcher { 
  border-radius: 6px;
  background-color: @theme_bg_color;
  border: 0px solid @borders;
  padding: 6px;
  box-shadow: none;
  -GtkWidget-hexpand: true;
}

grid#switcher_item.focused image,
grid#switcher_item.focused {
  border-image: none;
  background-color: #777777;
  border: 0px;
  box-shadow: none;
  border-radius: 1.25mm;
}

grid#switcher_item image,
grid#switcher_item {
  min-width: 60px;
  min-height: 60px;
  padding: 6px;
  -GtkWidget-hexpand: true;
}

/* tray CSS configuration */

button#tray_item {
  padding: 0px 1px 0px 0px;
  border: none;
  margin: 0px;
  -GtkWidget-valign: center;
}

button#tray_item.passive {
  -GtkWidget-visible: false;
}

.module image,
button#startmenu image,
button#module image{
  padding: 0px;
  margin: 0px;
  min-width: calc(@bar_thickness * 0.8);
  min-height: calc(@bar_thickness * 0.8);
  -GtkWidget-valign: center;
  -GtkWidget-vexpand: true;
  color: @theme_fg_color;
  -ScaleImage-color: @theme_text_color;
  -ScaleImage-symbolic: true;
}

.module,
button#module,
button#launcher,
button#showdesktop,
button#startmenu {
  border: none;
  padding: calc(@bar_thickness * 0.1);
  margin: 0px;
  -GtkWidget-vexpand: true;
  -GtkWidget-valign: center;
}

button#startmenu {
  border: 1px solid;
  border-radius: 4px;
}

chart#cpu {
  background: rgba(127,127,127,0.3);
  min-width: 9px;
  margin: 2px;
  border: 1px solid @borders;
  color: red;
}

progressbar#memory {
  -GtkWidget-direction: top;
  min-width: 9px;
  border: 1px solid @borders;
  margin: 2px;
}

progressbar#memory trough {
  min-height: 2px;
  min-width: 9px;
  border: none;
  border-radius: 0px;
  background: rgba(127,127,127,0.3);
}

progressbar#memory progress {
  -GtkWidget-hexpand: true;
  min-width: 9px;
  border-radius: 0px;
  border: none;
  margin: 0px;
  background-color: alpha(green,0.9);
}

label#language {
  margin-left: 3px;
  margin-right: 5px;
}
