$NetBSD: patch-rebar.config,v 1.2 2016/08/12 09:38:37 fhajny Exp $

Deps are handled by pkgsrc.

--- rebar.config.orig	2016-02-03 09:23:06.000000000 +0000
+++ rebar.config
@@ -24,8 +24,6 @@
 {port_env, [{"CFLAGS", "$CFLAGS"}, {"LDFLAGS", "$LDFLAGS"}]}.
 {port_specs, [{"priv/lib/fast_yaml.so", ["c_src/fast_yaml.c"]}]}.
 
-{deps, [{p1_utils, ".*", {git, "git://github.com/processone/p1_utils", {tag, "1.0.5"}}}]}.
-
 {clean_files, ["c_src/fast_yaml.gcda", "c_src/fast_yaml.gcno"]}.
 
 {cover_enabled, true}.
