[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=PyCharm
GenericName=PyCharm
Comment=Python IDE
Icon=@@IDEA_HOME@@/bin/pycharm.png
Exec=@@IDEA_HOME@@/bin/pycharm.sh
Terminal=false
StartupNotify=true
Categories=Application;Development;
