$NetBSD: patch-rebar.config,v 1.2 2016/08/12 09:34:59 fhajny Exp $

Deps are handled by pkgsrc.

--- rebar.config.orig	2016-01-24 18:48:23.000000000 +0000
+++ rebar.config
@@ -25,8 +25,6 @@
 {port_specs, [{"priv/lib/fxml.so", ["c_src/fxml.c"]},
               {"priv/lib/fxml_stream.so", ["c_src/fxml_stream.c"]}]}.
 
-{deps, [{p1_utils, ".*", {git, "https://github.com/processone/p1_utils", {tag, "1.0.5"}}}]}.
-
 {clean_files, ["c_src/fxml.gcda", "c_src/fxml.gcno", "c_src/fxml_stream.gcda", "c_src/fxml_stream.gcno"]}.
 
 {cover_enabled, true}.
