$NetBSD: patch-lib_icons_angband-sdl.desktop,v 1.1 2019/09/20 14:56:00 nia Exp $

Normalize the desktop entry.

--- lib/icons/angband-sdl.desktop.orig	2019-08-16 06:59:55.000000000 +0000
+++ lib/icons/angband-sdl.desktop
@@ -1,8 +1,8 @@
 [Desktop Entry]
-Name=Angband (SDL)
+Name=Angband
 Type=Application
 Comment=A roguelike dungeon exploration game based on the books of J.R.R.Tolkien
 Exec=angband -msdl
 TryExec=angband
-Icon=/usr/share/angband/xtra/icon/att-32.png
+Icon=angband
 Categories=Game;RolePlaying;
