# $NetBSD: immodules.tmpl,v 1.2 2011/06/05 12:13:47 obache Exp $
#
# Rebuild the GTK3 immodules database.
#

GTK3_IMMODULES_DB="@GTK3_IMMODULES_DB@"
GTK3_QUERY_IMMODULES="@GTK3_QUERY_IMMODULES@"

case ${STAGE} in
POST-INSTALL)
	${GTK3_QUERY_IMMODULES} > ${GTK3_IMMODULES_DB}
	;;
DEINSTALL)
	[ "${PKGBASE}" = "gtk3+" ] && ${RM} -f ${GTK3_IMMODULES_DB}
	;;
POST-DEINSTALL)
	[ "${PKGBASE}" != "gtk3+" ] && \
		${GTK3_QUERY_IMMODULES} > ${GTK3_IMMODULES_DB}
	;;
*)
	;;
esac
