$NetBSD: patch-requirements__test.txt,v 1.2 2017/04/14 13:24:30 adam Exp $

Use pytest and pytest-con in pkgsrc to avoid download.

--- requirements_test.txt.orig	2016-10-01 14:02:06.000000000 +0000
+++ requirements_test.txt
@@ -1,2 +1,2 @@
-pytest==3.0.5
-pytest-cov==2.4.0
+pytest>=3.0.5
+pytest-cov>=2.4.0
