$NetBSD: patch-rebar.config,v 1.9 2017/04/13 19:04:53 fhajny Exp $

Deps are handled by pkgsrc.

--- rebar.config.orig	2017-04-11 10:13:58.000000000 +0000
+++ rebar.config
@@ -79,9 +79,9 @@
 
 {erl_opts, [nowarn_deprecated_function,
             {i, "include"},
-	    {i, "deps/fast_xml/include"},
-	    {i, "deps/xmpp/include"},
-	    {i, "deps/p1_utils/include"},
+	    {i, "@LOCALBASE@/lib/erlang/lib/fast_xml/include"},
+	    {i, "@LOCALBASE@/lib/erlang/lib/xmpp/include"},
+	    {i, "@LOCALBASE@/lib/erlang/lib/p1_utils/include"},
             {if_var_false, debug, no_debug_info},
             {if_var_true, debug, debug_info},
             {if_var_true, roster_gateway_workaround, {d, 'ROSTER_GATWAY_WORKAROUND'}},
@@ -105,7 +105,7 @@
 			  ]}}.
 
 {if_var_true, elixir,
-              {lib_dirs, ["deps/elixir/lib"]}}.
+              {lib_dirs, ["@LOCALBASE@/lib/erlang/lib/elixir/lib"]}}.
 {if_var_true, elixir,
               {src_dirs, ["include"]}}.
 
@@ -135,9 +135,9 @@
 
 {eunit_compile_opts, [{i, "tools"},
 		      {i, "include"},
-		      {i, "deps/p1_utils/include"},
-		      {i, "deps/fast_xml/include"},
-		      {i, "deps/xmpp/include"}]}.
+		      {i, "@LOCALBASE@/lib/erlang/lib/p1_utils/include"},
+		      {i, "@LOCALBASE@/lib/erlang/lib/fast_xml/include"},
+		      {i, "@LOCALBASE@/lib/erlang/lib/xmpp/include"}]}.
 
 {if_version_above, "17", {cover_enabled, true}}.
 {cover_export_enabled, true}.
