$NetBSD: patch-rebar.config,v 1.8 2017/03/30 14:50:05 fhajny Exp $

Deps are handled by pkgsrc.

--- rebar.config.orig	2017-03-24 08:03:23.000000000 +0000
+++ rebar.config
@@ -79,8 +79,8 @@
 
 {erl_opts, [nowarn_deprecated_function,
             {i, "include"},
-	    {i, "deps/fast_xml/include"},
-	    {i, "deps/xmpp/include"},
+	    {i, "@LOCALBASE@/lib/erlang/lib/fast_xml/include"},
+	    {i, "@LOCALBASE@/lib/erlang/lib/xmpp/include"},
             {if_var_false, debug, no_debug_info},
             {if_var_true, debug, debug_info},
             {if_var_true, roster_gateway_workaround, {d, 'ROSTER_GATWAY_WORKAROUND'}},
@@ -104,7 +104,7 @@
 			  ]}}.
 
 {if_var_true, elixir,
-              {lib_dirs, ["deps/elixir/lib"]}}.
+              {lib_dirs, ["@LOCALBASE@/lib/erlang/lib/elixir/lib"]}}.
 {if_var_true, elixir,
               {src_dirs, ["include"]}}.
 
@@ -134,8 +134,8 @@
 
 {eunit_compile_opts, [{i, "tools"},
 		      {i, "include"},
-		      {i, "deps/fast_xml/include"},
-		      {i, "deps/xmpp/include"}]}.
+		      {i, "@LOCALBASE@/lib/erlang/lib/fast_xml/include"},
+		      {i, "@LOCALBASE@/lib/erlang/lib/xmpp/include"}]}.
 
 {if_version_above, "17", {cover_enabled, true}}.
 {cover_export_enabled, true}.
