$NetBSD: patch-rebar.config,v 1.10 2017/07/07 10:08:40 fhajny Exp $

Deps are handled by pkgsrc.

--- rebar.config.orig	2017-06-30 12:24:35.000000000 +0000
+++ rebar.config
@@ -79,9 +79,9 @@
 
 {erl_opts, [nowarn_deprecated_function,
             {i, "include"},
-	    {i, "deps/fast_xml/include"},
-	    {i, "deps/xmpp/include"},
-	    {i, "deps/p1_utils/include"},
+	    {i, "@LOCALBASE@/lib/erlang/lib/fast_xml/include"},
+	    {i, "@LOCALBASE@/lib/erlang/lib/xmpp/include"},
+	    {i, "@LOCALBASE@/lib/erlang/lib/p1_utils/include"},
             {if_var_false, debug, no_debug_info},
             {if_var_true, debug, debug_info},
 	    {if_var_true, sip, {d, 'SIP'}},
@@ -108,7 +108,7 @@
 			  ]}}.
 
 {if_var_true, elixir,
-              {lib_dirs, ["deps/elixir/lib"]}}.
+              {lib_dirs, ["@LOCALBASE@/lib/erlang/lib/elixir/lib"]}}.
 {if_var_true, elixir,
               {src_dirs, ["include"]}}.
 
@@ -138,9 +138,9 @@
 
 {eunit_compile_opts, [{i, "tools"},
 		      {i, "include"},
-		      {i, "deps/p1_utils/include"},
-		      {i, "deps/fast_xml/include"},
-		      {i, "deps/xmpp/include"}]}.
+		      {i, "@LOCALBASE@/lib/erlang/lib/p1_utils/include"},
+		      {i, "@LOCALBASE@/lib/erlang/lib/fast_xml/include"},
+		      {i, "@LOCALBASE@/lib/erlang/lib/xmpp/include"}]}.
 
 {if_version_above, "17", {cover_enabled, true}}.
 {cover_export_enabled, true}.
