$NetBSD: patch-docs_conf_services_atheme.conf.example,v 1.1 2019/05/03 19:03:02 nia Exp $

Don't use ${PREFIX}/etc/inspircd/examples.

--- docs/conf/services/atheme.conf.example.orig	2019-05-03 13:07:32.000000000 +0000
+++ docs/conf/services/atheme.conf.example
@@ -3,7 +3,7 @@
 # information on Atheme.
 
 # This file inherits from the generic config to avoid repetition.
-<include file="examples/services/generic.conf.example">
+<include file="services/generic.conf">
 
 # Long hand aliases for services pseudoclients.
 <alias text="ALIS"      replace="SQUERY $requirement :$2-" requires="ALIS"      uline="yes">
