$NetBSD: patch-docs_conf_services_anope.conf.example,v 1.1 2019/05/03 19:03:02 nia Exp $

Don't use ${PREFIX}/etc/inspircd/examples.

--- docs/conf/services/anope.conf.example.orig	2019-05-03 13:07:32.000000000 +0000
+++ docs/conf/services/anope.conf.example
@@ -2,7 +2,7 @@
 # by Anope. See https://www.anope.org for more information on Anope.
 
 # This file inherits from the generic config to avoid repetition.
-<include file="examples/services/generic.conf.example">
+<include file="services/generic.conf">
 
 # /GLOBAL <message>
 # Sends a global notice.
