$NetBSD: patch-docs_conf_modules.conf.example,v 1.1 2019/05/03 17:14:28 nia Exp $

Don't use /etc/inspircd/examples.

--- docs/conf/modules.conf.example.orig	2019-05-03 13:07:32.000000000 +0000
+++ docs/conf/modules.conf.example
@@ -870,7 +870,7 @@
 # specify below the path to the filter.conf file, or define some      #
 # <keyword> tags.                                                     #
 #                                                                     #
-#<include file="examples/filter.conf.example">
+#<include file="filter.conf">
 
 #-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#
 # Flash Policy Daemon module: Allows Flash IRC clients (e.g. LightIRC)#
@@ -960,7 +960,7 @@
 # If you specify to use the helpop module, then specify below the     #
 # path to the helpop.conf file.                                       #
 #                                                                     #
-#<include file="examples/helpop.conf.example">
+#<include file="helpop.conf">
 
 #-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#
 # Hide chans module: Allows users to hide their channels list from non-
@@ -1525,7 +1525,7 @@
 # onoper        - If on, the message is sent on /OPER, otherwise it's #
 #                 only sent when /OPERMOTD is used.                   #
 #                                                                     #
-#<opermotd file="examples/opermotd.txt.example" onoper="yes">
+#<opermotd file="opermotd.txt" onoper="yes">
 
 #-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#
 # Override module: Adds support for oper override.
