$NetBSD: patch-docs_conf_inspircd.conf.example,v 1.1 2019/05/03 17:14:28 nia Exp $

Don't use /etc/inspircd/examples.

Set pidfile.

--- docs/conf/inspircd.conf.example.orig	2019-05-03 13:07:32.000000000 +0000
+++ docs/conf/inspircd.conf.example
@@ -457,11 +457,11 @@
 
 # This file has all the information about oper classes, types and o:lines.
 # You *MUST* edit it.
-<include file="examples/opers.conf.example">
+<include file="opers.conf">
 
 # This file has all the information about server links and ulined servers.
 # You *MUST* edit it if you intend to link servers.
-<include file="examples/links.conf.example">
+<include file="links.conf">
 
 #-#-#-#-#-#-#-#-#-#-  MISCELLANEOUS CONFIGURATION  -#-#-#-#-#-#-#-#-#-#
 #                                                                     #
@@ -470,7 +470,7 @@
 #
 #   motd - displayed on connect and when a user executes /MOTD
 # Modules can also define their own files
-<files motd="examples/motd.txt.example">
+<files motd="motd.txt">
 
 # Example of an executable file include. Note this will be read on rehash,
 # not when the command is run.
@@ -506,7 +506,7 @@
 # the default of 'inspircd.pid' is used.                              #
 #                                                                     #
 
-#<pid file="/path/to/inspircd.pid">
+<pid file="@PREFIX@/inspircd/inspircd.pid">
 
 #-#-#-#-#-#-#-#-#-#-#-#-#- LIST MODE LIMITS #-#-#-#-#-#-#-#-#-#-#-#-#-#
 #                                                                     #
@@ -1002,7 +1002,7 @@
 # provide almost all the features of InspIRCd. :)                     #
 #                                                                     #
 # The default does nothing -- we include it for simplicity for you.   #
-<include file="examples/modules.conf.example">
+<include file="modules.conf">
 
 #-#-#-#-#-#-#-#-#-#-#-# SERVICES CONFIGURATION  #-#-#-#-#-#-#-#-#-#-#-#
 #                                                                     #
@@ -1011,13 +1011,13 @@
 # exemptions for services pseudoclients:                              #
 #
 # Anope users should uncomment this:
-#<include file="examples/services/anope.conf.example">
+#<include file="services/anope.conf">
 #
 # Atheme users should uncomment this:
-#<include file="examples/services/atheme.conf.example">
+#<include file="services/atheme.conf">
 #
 # Users of other services should uncomment this:
-#<include file="examples/services/generic.conf.example">
+#<include file="services/generic.conf">
 
 #########################################################################
 #                                                                       #
