# $NetBSD: ingo.conf.dist,v 1.1.1.1 2006/03/31 22:06:34 adrianp Exp $
#
# Ingo configuration file fragment for Apache

# For security, don't serve pages from the Ingo configuration and library
# directories.
#
<Directory "@INGODIR@/config">
    Order deny,allow
    Deny from all
</Directory>
<Directory "@INGODIR@/lib">
    Order deny,allow
    Deny from all
</Directory>
<Directory "@INGODIR@/locale">
    Order deny,allow
    Deny from all
</Directory>
<Directory "@INGODIR@/po">
    Order deny,allow
    Deny from all
</Directory>
<Directory "@INGODIR@/scripts">
    Order deny,allow
    Deny from all
</Directory>
<Directory "@INGODIR@/templates">
    Order deny,allow
    Deny from all
</Directory>
