[Desktop Entry]
Version=1.0
Name=XMakemol
GenericName=Molecule Viewer
Comment=View and manipulate atomic and other chemical systems
Type=Application
Exec=xmakemol
Categories=Chemistry;Education;Science;
