$NetBSD: patch-requirements.txt,v 1.2 2022/04/24 17:23:08 adam Exp $

Relax jinja2 version requirements.

--- requirements.txt.orig	2022-04-12 19:25:32.000000000 +0000
+++ requirements.txt
@@ -3,7 +3,7 @@ configargparse>=1.2.3
 google-i18n-address>=2.3.2
 html5lib>=1.0.1
 intervaltree>=2.1.0,!=3.0.0
-jinja2>=2.11,<3.0
+jinja2>=2.11
 markupsafe==2.0.1
 kitchen>=1.2.6
 lxml>=2.2.8,!=4.3.1
