[Desktop Entry]
Name[bg]=Pan
Name[bs]=Paniraj
Name[ca]=Pan
Name[cs]=Pan
Name[da]=Pan
Name[de]=Pan
Name[dz]=པེན་
Name[el]=Pan
Name[en_CA]=Pan
Name[en_GB]=Pan
Name[es]=Pan
Name[et]=Pan
Name[eu]=Pan
Name[fi]=Pan
Name[fr]=Pan
Name[gl]=Pan
Name[hu]=Pan
Name[ja]=Pan
Name[lt]=Pan
Name[nb]=Pan
Name[oc]=Pan
Name[pl]=Pan
Name[pt]=Pan
Name[pt_BR]=Pan
Name[sl]=Pan
Name[sr]=Пан
Name[sr@latin]=Pan
Name[sv]=Pan
Name[tr]=Pan
Name[vi]=Pan
Name[zh_CN]=Pan
Name=Pan
GenericName[bs]=Klijent za diskusione grupe
GenericName[ca]=Lector de notícies
GenericName[cs]=Diskusní klient
GenericName[da]=Nyhedsgruppelæser
GenericName[de]=Newsreader
GenericName[el]=Αναγνώστης ειδήσεων
GenericName[es]=Lector de noticias
GenericName[hu]=Hírolvasó
GenericName[pl]=Czytnik grup dyskusyjnych
GenericName[pt]=Leitor de notícias
GenericName[pt_BR]=Leitor de notícias
GenericName[ro]=Cititor de știri
GenericName[sl]=Bralnik novic
GenericName[sr]=Читач вести
GenericName[sr@latin]=Čitač vesti
GenericName[sv]=Diskussionsgruppsläsare
GenericName[tr]=Haber Okuyucu
GenericName=Newsreader
Comment[cs]=Čtení a vystavování příspěvků na síti Usenet
Comment[da]=Læs og send artikler på Usenet
Comment[de]=Usenet-Artikel lesen und senden
Comment[es]=Leer y publicar artículos en Usenet
Comment[hu]=Usenet cikkek olvasása és közzététele
Comment[pl]=Czytanie i wysyłanie wiadomości w sieci Usenet
Comment[pt_BR]=Leia e envie artigos na usenet
Comment[sr]=Читајте и објављујте чланке на Јузнету
Comment[sr@latin]=Čitajte i objavljujte članke na Juznetu
Comment[sv]=Läs och posta Usenet-artiklar
Comment[tr]=Usenet makalelerini okuyun ve gönderin
Comment=Read and post Usenet articles
# Translators: Search terms to find this application. Do NOT translate or localise the semicolons! The list MUST also end with a semicolon!
Keywords[cs]=usenet;news;diskusní klient;diskusní skupina;příspěvek;yenc;nzb;
Keywords[da]=usenet;news;newsreader;newsgroup;artikel;yenc;nzb;nyheder;nyhed;nyhedslæser;nyhedsgruppelæser;nyhedsgruppe;
Keywords[de]=usenet;news;newsreader;newsgruppe;artikel;yenc;nzb;
Keywords[es]=usenet;lector;noticias;grupos;artículo;yenc,nzb;
Keywords[hu]=usenet;hírek;hírolvasó;hírcsoport;cikk;yenc;nzb;
Keywords[pl]=usenet;grupy;dyskusyjne;czytnik;wiadomość;artykuł;post;yenc;nzb;
Keywords[pt_BR]=usenet;notícias;news;leitor de notícias;newsreader;newsgroup;artigo;article;yenc;nzb;
Keywords[sr]=вести;читач;јузнет;читач вести;групе вести;чланак;уенц;нзб;
Keywords[sr@latin]=vesti;čitač;juznet;čitač vesti;grupe vesti;članak;uenc;nzb;
Keywords[sv]=usenet;newsreader;diskussionsgruppläsare;diskussionsgrupp;artikel;yenc,nzb;
Keywords[tr]=usenet;haberler;haber okuyucu;haber grubu;makale;yenc;nzb;
Keywords=usenet;news;newsreader;newsgroup;article;yenc;nzb;
Exec=pan %U
MimeType=application/x-nzb;
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon[cs]=pan
Icon[da]=pan
Icon[de]=pan
Icon[es]=pan
Icon[hu]=pan
Icon[pl]=pan
Icon[pt_BR]=pan
Icon[sr]=pan
Icon[sr@latin]=pan
Icon[sv]=pan
Icon=pan
Terminal=false
Type=Application
Categories=GTK;Network;News;
StartupNotify=false
