$NetBSD: patch-default.config,v 1.1 2019/07/11 04:51:14 schmonz Exp $

Configure audio players.

--- default.config.orig	2013-10-05 20:57:48.000000000 +0000
+++ default.config
@@ -79,13 +79,13 @@ text-editor=gedit
 type=external-midiplayer
 device_file=/dev/sequencer2
 synth_number=2
-wav_player=/usr/bin/aplay
+wav_player=@WAVPLAYER@
 wav_player_options=
-midi_player=/usr/bin/timidity
+midi_player=@MIDIPLAYER@
 midi_player_options=-idqq %s
-mp3_player=/usr/bin/mpg123
+mp3_player=@MP3PLAYER@
 mp3_player_options=
-ogg_player=/usr/bin/ogg123
+ogg_player=@OGGPLAYER@
 ogg_player_options=
 
 [config]
