# $NetBSD: install.tmpl,v 1.1 2007/09/21 12:58:14 wiz Exp $
#
# Register GConf schema files into GConf's database at install time.
#

GCONFTOOL2="@GCONFTOOL2@"
GCONF_ENTRIES="@GCONF_ENTRIES@"
GCONF_SCHEMAS="@GCONF_SCHEMAS@"
GCONF_SCHEMAS_DIR="@GCONF_SCHEMAS_DIR@"
GCONF_CONFIG_SOURCE="@GCONF_CONFIG_SOURCE@"

case ${STAGE} in
POST-INSTALL)
	for f in ${GCONF_SCHEMAS}; do
		GCONF_CONFIG_SOURCE="${GCONF_CONFIG_SOURCE}" \
			${GCONFTOOL2} --makefile-install-rule \
			${GCONF_SCHEMAS_DIR}/$f >/dev/null
	done
	for f in ${GCONF_ENTRIES}; do
		${GCONFTOOL2} --config-source=${GCONF_CONFIG_SOURCE} \
			--direct --load ${GCONF_SCHEMAS_DIR}/$f >/dev/null
	done
	;;
*)
	;;
esac
