$NetBSD: patch-opendmarc_opendmarc.conf.sample,v 1.1 2022/05/12 13:49:28 jperkin Exp $

Add RequiredFrom option to reject messages that lack a From header from which
a valid domain can be extracted.

Submitted upstream https://github.com/trusteddomainproject/OpenDMARC/pull/147

--- opendmarc/opendmarc.conf.sample.orig	2021-12-20 06:40:37.000000000 +0000
+++ opendmarc/opendmarc.conf.sample
@@ -344,6 +344,15 @@
 #
 # RequiredHeaders false
 
+##  RequiredFrom { true | false }
+##  	default "false"
+##
+##  If set, the filter will reject without further processing messages that 
+##  lack a From: field from which a domain name could be extracted. This 
+##  options is without effect if RequiredHeaders is set to "true".
+#
+# RequiredFrom false
+
 ##  Socket socketspec
 ##  	default (none)
 ##
