$NetBSD: patch-mozilla_browser_themes_shared_devtools_highlighter.inc.css,v 1.1 2014/03/30 04:13:17 ryoon Exp $

--- mozilla/browser/themes/shared/devtools/highlighter.inc.css.orig	2014-03-19 01:41:45.000000000 +0000
+++ mozilla/browser/themes/shared/devtools/highlighter.inc.css
@@ -54,7 +54,7 @@ html|*.highlighter-nodeinfobar-pseudo-cl
   padding: 0;
   width: 26px;
   min-height: 26px;
-%ifndef XP_LINUX
+%if !defined(MOZ_WIDGET_GTK) && !defined(MOZ_WIDGET_QT)
   background-color: transparent;
 %endif
 }
