$NetBSD: patch-requirements.txt,v 1.1 2016/01/17 13:45:42 wiz Exp $

Drop sphinx dependency.
https://github.com/snide/sphinx_rtd_theme/commit/9e2b17147dcf182622b5f3d9bf5e130dec924fe1

--- requirements.txt.orig	2015-07-16 19:05:46.000000000 +0000
+++ requirements.txt
@@ -1 +0,0 @@
-sphinx>=1.3
