$NetBSD: patch-prosody.cfg.lua.dist,v 1.1 2020/01/23 18:26:15 gdt Exp $

set the logging paths
set up the pid files

--- prosody.cfg.lua.dist.orig	2019-08-31 14:08:45.000000000 +0000
+++ prosody.cfg.lua.dist
@@ -153,12 +153,13 @@ archive_expires_after = "1w" -- Remove a
 -- Logging configuration
 -- For advanced logging see https://prosody.im/doc/logging
 log = {
-	info = "prosody.log"; -- Change 'info' to 'debug' for verbose logging
-	error = "prosody.err";
+	info = "@PROSODY_LOG@/prosody.log"; -- Change 'info' to 'debug' for verbose logging
+	error = "@PROSODY_LOG@/prosody.err";
 	-- "*syslog"; -- Uncomment this for logging to syslog
 	-- "*console"; -- Log to the console, useful for debugging with daemonize=false
 }
 
+
 -- Uncomment to enable statistics
 -- For more info see https://prosody.im/doc/statistics
 -- statistics = "internal"
@@ -176,6 +177,9 @@ certificates = "certs"
 -- HTTPS currently only supports a single certificate, specify it here:
 --https_certificate = "certs/localhost.crt"
 
+-- Enable PID file by default
+pidfile = "@PROSODY_RUN@/prosody.pid";
+
 ----------- Virtual hosts -----------
 -- You need to add a VirtualHost entry for each domain you wish Prosody to serve.
 -- Settings under each VirtualHost entry apply *only* to that host.
