[Desktop Entry]
Name=Return to Castle Wolfenstein
Exec=iowolfsp
Terminal=false
Icon=wolfsp
Type=Application
Categories=Game;ActionGame;
Keywords=fps;first person shooter;id;gray matter;
