$NetBSD: patch-src_dbus-sharp.dll.config,v 1.1 2013/06/11 02:29:40 obache Exp $

* Reverse the way the dllmap for libsocket is handled, by using libc
  https://github.com/mono/dbus-sharp/commit/1561585d601058392d5864e3add2bac3c67e14a7

--- src/dbus-sharp.dll.config.orig	2010-09-14 09:17:50.000000000 +0000
+++ src/dbus-sharp.dll.config
@@ -1,3 +1,13 @@
 <configuration>
-  <dllmap dll="libsocket" os="!solaris" target="libc.so.6"/>
+  <dllmap dll="libc">
+    <dllentry os="solaris" dll="libsocket.so.1" name="socket" target="socket"/>
+    <dllentry os="solaris" dll="libsocket.so.1" name="connect" target="connect"/>
+    <dllentry os="solaris" dll="libsocket.so.1" name="bind" target="bind"/>
+    <dllentry os="solaris" dll="libsocket.so.1" name="listen" target="listen"/>
+    <dllentry os="solaris" dll="libsocket.so.1" name="accept" target="accept"/>
+    <dllentry os="solaris" dll="libsocket.so.1" name="getsockopt" target="getsockopt"/>
+    <dllentry os="solaris" dll="libsocket.so.1" name="setsockopt" target="setsockopt"/>
+    <dllentry os="solaris" dll="libsocket.so.1" name="resvmsg" target="resvmsg"/>
+    <dllentry os="solaris" dll="libsocket.so.1" name="sendmsg" target="sendmsg"/>
+  </dllmap>
 </configuration>
