$NetBSD: patch-rebar.config,v 1.2 2016/01/13 15:34:15 fhajny Exp $

Deps are handled by pkgsrc.

--- rebar.config.orig	2015-11-23 17:58:20.000000000 +0000
+++ rebar.config
@@ -12,8 +12,6 @@
 {port_specs, [{"priv/lib/xml.so", ["c_src/xml.c"]},
               {"priv/lib/xml_stream.so", ["c_src/xml_stream.c"]}]}.
 
-{deps, [{p1_utils, ".*", {git, "git://github.com/processone/p1_utils", {tag, "1.0.0"}}}]}.
-
 {clean_files, ["c_src/xml.gcda", "c_src/xml.gcno", "c_src/xml_stream.gcda", "c_src/xml_stream.gcno"]}.
 
 {cover_enabled, true}.
