# $NetBSD: deinstall.tmpl,v 1.2 2003/03/17 17:48:06 jmmv Exp $
#
# Unregister SGML/XML catalog entries.
#

XMLCATMGR='@XMLCATMGR@'
SGML_CATALOG='@SGML_CATALOG@'
XML_CATALOG='@XML_CATALOG@'
SGML_ENTRIES='@SGML_ENTRIES@'
XML_ENTRIES='@XML_ENTRIES@'

case ${STAGE} in
DEINSTALL)
	if [ -n "${SGML_ENTRIES}" ]; then
		${ECHO} "===> Unregistering SGML catalog entries for ${PKGNAME}"
		set -- ${SGML_ENTRIES}
		while [ $# -gt 0 ]; do
			${XMLCATMGR} -sc ${SGML_CATALOG} remove "$2"
			shift; shift; shift
		done
	fi
	if [ -n "${XML_ENTRIES}" ]; then
		${ECHO} "===> Unregistering XML catalog entries for ${PKGNAME}"
		set -- ${XML_ENTRIES}
		while [ $# -gt 0 ]; do
			${XMLCATMGR} -c ${XML_CATALOG} remove "$2"
			shift; shift; shift
		done
	fi
	;;
*)
	;;
esac
