# $NetBSD: install.tmpl,v 1.4 2004/05/06 14:39:05 minskim Exp $
#
# Register SGML/XML catalog entries.
#

XMLCATMGR='@XMLCATMGR@'
SGML_CATALOG='@SGML_CATALOG@'
XML_CATALOG='@XML_CATALOG@'
SGML_ENTRIES='@SGML_ENTRIES@'
XML_ENTRIES='@XML_ENTRIES@'

case ${STAGE} in
POST-INSTALL)
	if [ -n "${SGML_ENTRIES}" ]; then
		set -- @SGML_ENTRIES@
		while [ $# -gt 0 ]; do
			${XMLCATMGR} -sc ${SGML_CATALOG} add "$1" "$2" "$3"
			shift; shift; shift
		done
	fi
	if [ -n "${XML_ENTRIES}" ]; then
		set -- @XML_ENTRIES@
		while [ $# -gt 0 ]; do
			${XMLCATMGR} -c ${XML_CATALOG} add "$1" "$2" "$3"
			shift; shift; shift
		done
	fi
	;;
*)
	;;
esac
