$NetBSD: patch-rebar.config,v 1.6 2017/10/17 14:52:44 fhajny Exp $

Look up stun includes properly.

--- rebar.config.orig	2017-09-27 09:36:37.000000000 +0000
+++ rebar.config
@@ -22,7 +22,7 @@
 
 {erl_opts, [debug_info, {src_dirs, ["src"]},
             {i, "include"},
-	    {i, "deps/stun/include"},
+            {i, "@LOCALBASE@/lib/erlang/lib/stun/include"},
 	    {i, "../stun/include"},
 	    {if_have_fun, {crypto, strong_rand_bytes, 1}, {d, 'STRONG_RAND_BYTES'}},
 	    {if_have_fun, {rand, uniform, 1}, {d, 'RAND_UNIFORM'}}]}.
