$NetBSD: patch-rebar.config,v 1.5 2017/03/30 14:35:30 fhajny Exp $

Look up stun includes properly.

--- rebar.config.orig	2017-03-22 08:49:44.000000000 +0000
+++ rebar.config
@@ -22,7 +22,7 @@
 
 {erl_opts, [debug_info, {src_dirs, ["src"]},
             {i, "include"},
-	    {i, "deps/stun/include"},
+	    {i, "@LOCALBASE@/lib/erlang/lib/stun/include"},
 	    {i, "../stun/include"}]}.
 
 {port_env, [{"CFLAGS", "$CFLAGS"}, {"LDFLAGS", "$LDFLAGS"}]}.
