$NetBSD: patch-cmd_cmd.tmpl,v 1.2 2026/06/30 14:17:52 tsutsui Exp $

Add a hook to disable installation of unnecessary commands in canna-lib

--- cmd/cmd.tmpl.orig	2003-09-25 06:30:21.000000000 +0000
+++ cmd/cmd.tmpl
@@ -32,7 +32,9 @@ NormalProgramTarget($(TARGET),$(OBJS),$(
 # else
 NormalProgramTarget($(TARGET),$(OBJS),$(DEPRKINDEPLIB),$(RKINDEPLIB),)
 # endif
+# ifndef DontInstallProgram
 InstallProgram($(TARGET),$(cannaBinDir))
+# endif
 # ifdef ManSrcName
 InstallManPageLong(ManSrcName,$(cannaManDir),$(TARGET))
 # endif
