$NetBSD: patch-rebar.config,v 1.1 2015/11/04 13:45:45 fhajny Exp $

Deps are handled by pkgsrc.

--- rebar.config.orig	2015-09-16 15:23:03.000000000 +0000
+++ rebar.config
@@ -1,8 +1,5 @@
 {erl_opts, [debug_info, {i, "include"}]}.
 
-{deps, [{p1_tls, ".*", {git, "https://github.com/processone/tls"}},
-	{p1_utils, ".*", {git, "https://github.com/processone/p1_utils"}}]}.
-
 %% Local Variables:
 %% mode: erlang
 %% End:
