# $NetBSD: horde.conf.dist,v 1.1.1.1 2005/01/16 21:10:17 adrianp Exp $
#
# Horde configuration file fragment for Apache

<IfModule mod_alias.c>
    Alias /horde/ "@HORDEDIR@/"
</IfModule>

<Directory "@HORDEDIR@">  
    DirectoryIndex index.php
    Options Indexes FollowSymLinks
    AllowOverride None
    Order allow,deny
    Allow from all
    <IfModule mod_php4.c>
	php_flag magic_quotes_gpc Off
	php_flag track_vars On
    </IfModule>
</Directory>
#
# For security, don't serve pages from the Horde configuration and library
# directories.
#
<Directory "@HORDEDIR@/config">
    Order deny,allow
    Deny from all
</Directory>
<Directory "@HORDEDIR@/docs">
    Order deny,allow
    Deny from all
</Directory>
<Directory "@HORDEDIR@/lib">
    Order deny,allow
    Deny from all
</Directory>
<Directory "@HORDEDIR@/locale">
    Order deny,allow
    Deny from all
</Directory>
<Directory "@HORDEDIR@/po">
    Order deny,allow
    Deny from all
</Directory>
<Directory "@HORDEDIR@/scripts">
    Order deny,allow
    Deny from all
</Directory>
<Directory "@HORDEDIR@/templates">
    Order deny,allow
    Deny from all
</Directory>
<Directory "@HORDEDIR@/util">
    Order deny,allow
    Deny from all
</Directory>
