$NetBSD: patch-requirements.txt,v 1.1 2025/07/28 23:03:50 js Exp $

--- requirements.txt.orig	2025-07-28 22:52:58.906306846 +0000
+++ requirements.txt
@@ -1,7 +1,7 @@
 ecdsa>=0.9
 mnemonic>=0.20
 requests>=2.4.0
-click>=7,<8.2
+click>=7
 libusb1>=1.6.4
 construct>=2.9,!=2.10.55
 typing_extensions>=4.7.1
