[Desktop Entry]
Type=Application
Name=Notification Daemon
Comment=Launch notification daemon
Icon=preferences-system-notifications
Exec=@PREFIX@/lib/xfce4/notifyd/xfce4-notifyd
OnlyShowIn=XFCE;
