$NetBSD: patch-config_config.inc.php.sample,v 1.2 2020/01/14 14:30:00 taca Exp $

Add default paths for log, tmp and MIME types.

--- config/config.inc.php.sample.orig	2020-01-01 19:58:53.000000000 +0000
+++ config/config.inc.php.sample
@@ -84,3 +84,10 @@ $config['plugins'] = array(
 
 // skin name: folder from skins/
 $config['skin'] = 'elastic';
+
+// use this folder to store log files (must be writeable for apache user)
+// This is used by the 'file' log driver.
+$config['log_dir'] = '@VARBASE@/log/roundcube/';
+
+// use this folder to store temp files (must be writeable for apache user)
+$config['temp_dir'] = '@VARBASE@/tmp/roundcube/';
