$NetBSD: patch-rebar.config,v 1.2 2016/01/13 15:16:02 fhajny Exp $

Deps are handled by pkgsrc.

--- rebar.config.orig	2015-12-01 18:06:39.000000000 +0000
+++ rebar.config
@@ -22,8 +22,6 @@
 
 {erl_opts, [debug_info]}.
 
-{deps, [{p1_utils, ".*", {git, "https://github.com/processone/p1_utils", {tag, "1.0.1"}}}]}.
-
 %% Local Variables:
 %% mode: erlang
 %% End:
