$NetBSD: patch-rebar.config,v 1.1 2015/11/04 13:45:45 fhajny Exp $

Deps are handled by pkgsrc.

--- rebar.config.orig	2015-06-28 20:36:08.000000000 +0000
+++ rebar.config
@@ -1,7 +1,5 @@
 {erl_opts, [debug_info]}.
 
-{deps, [{p1_utils, ".*", {git, "https://github.com/processone/p1_utils"}}]}.
-
 %% Local Variables:
 %% mode: erlang
 %% End:
