/* $NetBSD: main.css,v 1.11 2021/04/12 14:01:33 nia Exp $ */

body {
	font-family: sans-serif;
	background-color: #fff;
	color: #000;
	max-width: 1100px;
	margin: auto;
}

body, pre, code, samp {
	font-size: 16px;
}

pre {
	overflow-x: auto;
}

h1 {
	font-size: 160%;
}

h2 {
	font-size: 140%;
}

h3 {
	font-size: 120%;
}

a:link {
	color: #d43900;
 	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: #844;
	text-decoration: none;
}

a:visited:hover {
	text-decoration: underline;
}

th {
	text-align: left;
	font-weight: bold;
}

hr {
	border: 0;
	border-bottom: 1px solid #aaa;
	clear: both;
}

#logo {
	width: 200px;
	float: right;
	border: 0;
	margin-bottom: 1em;
}


.package-data {
	list-style-type: none;
	padding-left: 0;
	padding-top: 1em;
	padding-bottom: 1em;
	border-top: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
}

nav {
	margin-bottom: 1em;
}

th {
	padding-right: 90px;
}

@media (max-width: 800px) {
	#logo {
		float: none;
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 150px;
	}

	th {
		padding-right: 0;
	}
}

