/* $NetBSD: main.css,v 1.2 2021/02/22 05:10:18 nia Exp $ */

body {
	font-family: sans-serif;
	background-color: #fff;
	color: #000;
}

a:link {
	color: #d43900;
 	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: #844;
	text-decoration: none;
}

a:visited:hover {
	text-decoration: underline;
}

th {
	text-align: left;
	font-weight: bold;
}

#logo {
	float: right;
	border: 0;
}

.package-data {
	list-style-type: none;
	padding-left: 0;
}
