$NetBSD: patch-src_sample_pgpool.conf.sample,v 1.3 2021/04/28 09:18:55 wiz Exp $

Default pid file location.

--- src/sample/pgpool.conf.sample.orig	2021-04-24 00:45:34.156306546 +0300
+++ src/sample/pgpool.conf.sample	2021-04-24 00:47:55.421086015 +0300
@@ -286,13 +286,13 @@ syslog_ident = 'pgpool'
 # FILE LOCATIONS
 #------------------------------------------------------------------------------
 
-pid_file_name = '/var/run/pgpool/pgpool.pid'
+pid_file_name = '@PGPOOL_PIDDIR@/pgpool.pid'
                                    # PID file name
                                    # Can be specified as relative to the"
                                    # location of pgpool.conf file or
                                    # as an absolute path
                                    # (change requires restart)
-logdir = '/tmp'
+logdir = '@PGPOOL_LOGDIR@'
                                    # Directory of pgPool status file
                                    # (change requires restart)
 
@@ -894,7 +894,7 @@ memqcache_cache_block_size = 1MB
                                    # Cache block size in bytes. Mandatory if memqcache_method = 'shmem'.
                                    # Defaults to 1MB.
                                    # (change requires restart)
-memqcache_oiddir = '/var/log/pgpool/oiddir'
+memqcache_oiddir = '@PGPOOL_LOGDIR@/oiddir'
                                    # Temporary work directory to record table oids
                                    # (change requires restart)
 cache_safe_memqcache_table_list = ''
