$NetBSD: patch-rebar.config,v 1.2 2017/01/03 18:25:29 fhajny Exp $

Deps are handled by pkgsrc.

--- rebar.config.orig	2016-07-08 16:18:24.000000000 +0000
+++ rebar.config
@@ -27,8 +27,6 @@
 
 {port_specs, [{"priv/lib/iconv.so", ["c_src/iconv.c"]}]}.
 
-{deps, [{p1_utils, ".*", {git, "https://github.com/processone/p1_utils", {tag, "1.0.6"}}}]}.
-
 {clean_files, ["c_src/iconv.gcda", "c_src/iconv.gcno"]}.
 
 {cover_enabled, true}.
