@comment $NetBSD: PLIST.neon,v 1.2 2025/05/06 12:07:32 wiz Exp $
lib/gegl-0.4/gegl-common-arm-neon.${SHLIB_EXT}
lib/gegl-0.4/gegl-common-cxx-arm-neon.${SHLIB_EXT}
lib/gegl-0.4/gegl-common-gpl3-arm-neon.${SHLIB_EXT}
lib/gegl-0.4/gegl-generated-arm-neon.${SHLIB_EXT}
lib/gegl-0.4/gegl-transformops-arm-neon.${SHLIB_EXT}
