# $NetBSD: install.tmpl,v 1.2 2022/08/19 22:05:10 abs Exp $

APPLICATIONS_PATH="@APPLICATIONS_PATH@"
UPDATE_DESKTOPDB="@UPDATE_DESKTOPDB@"

case ${STAGE} in
POST-INSTALL|DEINSTALL)
        # desktop-file-utils may not be installed
        if [ -x ${UPDATE_DESKTOPDB} ] ; then
                ${UPDATE_DESKTOPDB} ${APPLICATIONS_PATH}
        fi
	;;
esac
