# $NetBSD: apc_gui.conf.dist,v 1.2 2006/01/05 23:33:22 joerg Exp $
#
# APC-GUI configuration file fragment for Apache

<IfModule mod_alias.c>
    Alias /apc_gui/ "@APC_GUI_DIR@/"
</IfModule>

<Directory "@APC_GUI_DIR@">
    Options Indexes MultiViews
    AllowOverride None
    Order allow,deny
    Allow from all
</Directory>
