# $NetBSD: format-install.tmpl,v 1.4 2010/01/29 19:59:47 minskim Exp $
#
# Create format files.
#

FMTUTIL_CNF=${PKG_SYSCONFBASE}/texmf/web2c/fmtutil.cnf

case ${STAGE} in
POST-INSTALL)
	formats=@FORMATS@
	if [ "$formats" != "" ]; then
		@PRINTF@ "$formats" >> ${FMTUTIL_CNF}
		@PRINTF@ "$formats" |
		while read format engine junk; do
			@FMTUTIL_SYS@ --byfmt $format
		done
	fi
	format_names="@FORMAT_NAMES@"
	for f in $format_names ; do
		${GREP} -v "^#" @PREFIX@/share/texmf/fmtutil/format.$f.cnf |
		${GREP} "...." >> ${FMTUTIL_CNF}
		@CAT@ @PREFIX@/share/texmf/fmtutil/format.$f.cnf |
		@GREP@ "^[^#]" |
		while read format engine junk; do
			@FMTUTIL_SYS@ --byfmt $format
		done
	done
	@MKTEXLSR@ @VARBASE@/lib/texmf
        ;;
*)
	;;
esac
