# $NetBSD: deinstall.tmpl,v 1.1.40.1 2010/02/04 22:46:12 spz Exp $

case ${STAGE} in
DEINSTALL)
	eval `${PERL5} -V:prefix -V:archlib -V:scriptdir`
	PERL5_PACKLIST="@PERL5_PACKLIST@"

	# Remove the perllocal.pod file.
	case "$archlib" in
	$prefix/*)	archlib="@PREFIX@/${archlib#$prefix/}" ;;
	esac
	${RM} -f $archlib/perllocal.pod
	${RMDIR} -p $archlib 2>/dev/null || ${TRUE}

	# Remove any symlinked bits that belong to this module.
	$scriptdir/perllink -f -p @PREFIX@ delete ${PERL5_PACKLIST}

	# If this is not the perl package, then re-link any perl bits
	# back into place.
	#
	@PERL5_COMMENT@$scriptdir/perllink -p @PREFIX@ add
	;;
esac
