# $NetBSD: install.tmpl,v 1.2 2005/08/12 19:59:03 jlam Exp $

case ${STAGE} in
POST-INSTALL)
	eval `${PERL5} -V:scriptdir`
	PERL5_PACKLIST="@PERL5_PACKLIST@"

	# Symlink the bits that belong to this module.
	$scriptdir/perllink -f -p ${PKG_PREFIX} add ${PERL5_PACKLIST}
	;;
esac
