# $NetBSD: wbm-deinstall.tmpl,v 1.2 2012/11/02 19:02:51 shattered Exp $

case "${STAGE}" in
DEINSTALL)
	WBMNAME="@WBMNAME@"
	WEBMIN_DIR="@WEBMIN_DIR@"
	WEBMIN_CONFIG="${PKG_SYSCONFDIR}"
	WEBMIN_VAR="@WEBMIN_VARDIR@"
	${TEST} ! -f "${WEBMIN_CONFIG}/var-path" ||
		WEBMIN_VAR=`${CAT} ${WEBMIN_CONFIG}/var-path`
	export WEBMIN_CONFIG WEBMIN_VAR
	if ${TEST} -x "${WEBMIN_DIR}/run-uninstalls.pl"; then
		( cd ${WEBMIN_DIR} && 
		  ${WEBMIN_DIR}/run-uninstalls.pl ${WBMNAME} )
	fi
esac
