[Desktop Entry]
Name=Powder
Comment=Graphical dungeon crawling game
Exec=powder
Icon=powder
Terminal=false
Type=Application
Categories=Game;AdventureGame;
