$NetBSD: patch-src_snappy_rebar.config,v 1.2 2019/09/06 09:10:48 jperkin Exp $

Support newer OTP.

--- src/snappy/rebar.config.orig	2018-10-16 16:07:58.000000000 +0000
+++ src/snappy/rebar.config
@@ -1,4 +1,4 @@
-{require_otp_vsn, "R14|R15|R16|17|18|19|20|21"}.
+{require_otp_vsn, "R14|R15|R16|17|18|19|20|21|22"}.
 
 {erl_opts, [debug_info, warn_unused_vars, warn_shadow_vars, warn_unused_import]}.
 {port_sources, ["c_src/*.cc", 
