$NetBSD: patch-src_snappy_rebar.config,v 1.1 2018/09/27 20:12:02 tnn Exp $

accept OTP 21

--- src/snappy/rebar.config.orig	2017-06-23 20:21:36.000000000 +0000
+++ src/snappy/rebar.config
@@ -1,4 +1,4 @@
-{require_otp_vsn, "R14|R15|R16|17|18|19|20"}.
+{require_otp_vsn, "R14|R15|R16|17|18|19|20|21"}.
 
 {erl_opts, [debug_info, warn_unused_vars, warn_shadow_vars, warn_unused_import]}.
 {port_sources, ["c_src/*.cc", 
