$NetBSD: patch-.env.template,v 1.3.8.1 2026/07/30 01:43:39 maya Exp $

Set for package defaults: Use sqlite, and the log directory we set up

--- .env.template.orig	2026-07-24 16:27:32.000000000 +0000
+++ .env.template
@@ -42,8 +42,8 @@
 # RELOAD_TEMPLATES=false
 
 ## Web vault settings
-# WEB_VAULT_FOLDER=web-vault/
-# WEB_VAULT_ENABLED=true
+WEB_VAULT_FOLDER=@PREFIX@/@WEB_VAULT_DIR@/
+WEB_VAULT_ENABLED=true
 
 #########################
 ### Database settings ###
@@ -54,7 +54,7 @@
 ## to the DB file. It defaults to sqlite://%DATA_FOLDER%/db.sqlite3.
 ## Bare paths without the sqlite:// scheme are supported for backwards compatibility,
 ## but only if the database file already exists.
-# DATABASE_URL=sqlite://data/db.sqlite3
+DATABASE_URL=sqlite://data/db.sqlite3
 ## When using MySQL, specify an appropriate connection URI.
 ## Details: https://docs.diesel.rs/2.1.x/diesel/mysql/struct.MysqlConnection.html
 # DATABASE_URL=mysql://user:password@host[:port]/database_name
@@ -415,7 +415,7 @@
 # USE_SYSLOG=false
 
 ## Logging to file
-# LOG_FILE=/path/to/log
+LOG_FILE=@VAULTWARDEN_LOGDIR@/vaultwarden.log
 
 ## Log level
 ## Change the verbosity of the log output
