# $NetBSD: plugins.tmpl,v 1.1 2006/01/18 12:44:04 jmmv Exp $
#
# Handle registration of GStreamer plugins into the global plugin registry.
#

GST0_8_COMPPREP="@GST0.8_COMPPREP@"
GST0_8_REGISTER="@GST0.8_REGISTER@"
GST0_8_DBDIR="@GST0.8_DBDIR@"

case ${STAGE} in
POST-INSTALL)
	${GST0_8_REGISTER} --gst-registry=${GST0_8_DBDIR}/registry.xml \
		>/dev/null
	${GST0_8_COMPPREP} --gst-registry=${GST0_8_DBDIR}/registry.xml \
		>/dev/null
	;;
DEINSTALL)
	if [ "${PKGBASE}" = gstreamer0.8 ]; then
		${RM} -f ${GST0_8_DBDIR}/compreg.xml ${GST0_8_DBDIR}/registry.xml
	fi
	;;
POST-DEINSTALL)
	if [ "${PKGBASE}" != gstreamer0.8 ]; then
		${GST0_8_REGISTER} --gst-registry=${GST0_8_DBDIR}/registry.xml \
			>/dev/null
		${GST0_8_COMPPREP} --gst-registry=${GST0_8_DBDIR}/registry.xml \
			>/dev/null
	fi
	;;
*)
	;;
esac
