# $NetBSD: nagios.conf.dist,v 1.3 2023/01/10 23:42:16 sekiya Exp $
#
# nagios configuration file fragment for Apache

<IfModule mod_alias.c>
    ScriptAlias /nagios/cgi-bin/ "@PREFIX@/libexec/nagios/cgi-bin/"
    Alias /nagios/ "@PREFIX@/share/nagios/"
</IfModule>

<Directory "@PREFIX@/libexec/nagios/cgi-bin/">
    AllowOverride AuthConfig
    order allow,deny
    allow from all
    Options ExecCGI
    Require all granted
</Directory>


<Directory "@PREFIX@/share/nagios/">
    AllowOverride AuthConfig
    order allow,deny
    allow from all
    Require all granted
</Directory>
