# $NetBSD: nagios.conf.dist,v 1.2 2006/03/28 06:13:30 wiz Exp $
#
# nagios configuration file fragment for Apache

<IfModule mod_alias.c>
    ScriptAlias /nagios/cgi-bin/ "@PREFIX@/libexec/nagios/cgi-bin/"
    Alias /nagios/ "@PREFIX@/share/nagios/"
</IfModule>

<Directory "@PREFIX@/libexec/nagios/cgi-bin/">
    AllowOverride AuthConfig
    order allow,deny
    allow from all
    Options ExecCGI
</Directory>


<Directory "@PREFIX@/share/nagios/">
    AllowOverride AuthConfig
    order allow,deny
    allow from all
</Directory>
