$NetBSD: patch-rebar.config,v 1.1 2016/01/16 17:53:48 fhajny Exp $

Deps are handled by pkgsrc.

--- rebar.config.orig	2015-11-27 15:50:34.000000000 +0000
+++ rebar.config
@@ -1,7 +1,5 @@
 {erl_opts, [debug_info]}.
 
-{deps, [{p1_utils, ".*", {git, "https://github.com/processone/p1_utils.git", {tag, "1.0.1"}}}]}.
-
 {port_env, [
     {"CXXFLAGS", "-O3 -Wall"},
     {"(linux|solaris|freebsd|netbsd|openbsd|dragonfly|darwin|gnu)",
