$NetBSD: patch-test_requirements.txt,v 1.2 2024/08/10 07:14:15 wiz Exp $

Unpin stone.

--- test/requirements.txt.orig	2024-06-03 16:45:16.000000000 +0000
+++ test/requirements.txt
@@ -2,4 +2,4 @@ pytest
 mock
 pytest-mock
 coverage
-stone>=2,<3.3.3
+stone>=2
