$NetBSD: patch-configs_rockpro64-rk3399_defconfig,v 1.1 2021/07/26 06:36:41 mrg Exp $

Load u-boot from 256KB.
Enable AHCI and Silicon Image PCIe SATA controllers.

--- configs/rockpro64-rk3399_defconfig.orig	2021-04-26 17:53:51.000000000 -0700
+++ configs/rockpro64-rk3399_defconfig	2021-05-22 16:09:08.812523859 -0700
@@ -1,5 +1,6 @@
 CONFIG_ARM=y
 CONFIG_ARCH_ROCKCHIP=y
+CONFIG_SYS_MMCSD_RAW_MODE_U_BOOT_SECTOR=0x200
 CONFIG_SYS_TEXT_BASE=0x00200000
 CONFIG_NR_DRAM_BANKS=1
 CONFIG_ENV_SIZE=0x8000
@@ -62,6 +63,13 @@
 CONFIG_DEBUG_UART_SHIFT=2
 CONFIG_ROCKCHIP_SPI=y
 CONFIG_SYSRESET=y
+CONFIG_AHCI=y
+CONFIG_AHCI_PCI=y
+CONFIG_SATA=y
+CONFIG_SATA_SIL=y
+CONFIG_SCSI=y
+CONFIG_SCSI_AHCI=y
+CONFIG_DM_SCSI=y
 CONFIG_USB=y
 CONFIG_USB_XHCI_HCD=y
 CONFIG_USB_XHCI_DWC3=y
