# $NetBSD: install.tmpl,v 1.1 2004/08/31 11:43:44 jmmv Exp $

MIMEDB_PATH="@MIMEDB_PATH@"
UPDATE_MIMEDB="@UPDATE_MIMEDB@"

case ${STAGE} in
POST-INSTALL|DEINSTALL)
	${UPDATE_MIMEDB} ${MIMEDB_PATH} >/dev/null
	;;
esac
