$NetBSD: patch-examples_ansible.cfg,v 1.2 2013/12/02 22:54:46 hubertf Exp $

--- examples/ansible.cfg.orig	2013-11-19 19:12:32.000000000 +0000
+++ examples/ansible.cfg
@@ -4,14 +4,14 @@
 # nearly all parameters can be overridden in ansible-playbook 
 # or with command line flags. ansible will read ~/.ansible.cfg, 
 # ansible.cfg in the current working directory or
-# /etc/ansible/ansible.cfg, whichever it finds first
+# @PKG_SYSCONFDIR@/ansible/ansible.cfg, whichever it finds first
 
 [defaults]
 
 # some basic default values...
 
-hostfile       = /etc/ansible/hosts
-library        = /usr/share/ansible
+hostfile       = @PKG_SYSCONFDIR@/ansible/hosts
+library        = @PREFIX@/share/ansible
 remote_tmp     = $HOME/.ansible/tmp
 pattern        = *
 forks          = 5
@@ -87,12 +87,12 @@ ansible_managed = Ansible managed: {file
 #error_on_undefined_vars = False
 
 # set plugin path directories here, seperate with colons
-action_plugins     = /usr/share/ansible_plugins/action_plugins
-callback_plugins   = /usr/share/ansible_plugins/callback_plugins
-connection_plugins = /usr/share/ansible_plugins/connection_plugins
-lookup_plugins     = /usr/share/ansible_plugins/lookup_plugins
-vars_plugins       = /usr/share/ansible_plugins/vars_plugins
-filter_plugins     = /usr/share/ansible_plugins/filter_plugins
+action_plugins     = @PREFIX@/share/ansible_plugins/action_plugins
+callback_plugins   = @PREFIX@/share/ansible_plugins/callback_plugins
+connection_plugins = @PREFIX@/share/ansible_plugins/connection_plugins
+lookup_plugins     = @PREFIX@/share/ansible_plugins/lookup_plugins
+vars_plugins       = @PREFIX@/share/ansible_plugins/vars_plugins
+filter_plugins     = @PREFIX@/share/ansible_plugins/filter_plugins
 
 # don't like cows?  that's unfortunate.
 # set to 1 if you don't want cowsay support or export ANSIBLE_NOCOWS=1 
